ion-app
{
    font-family: 'Inter', sans-serif;
}
/* Add hover effect */
ion-item {
    --background: none;
    transition: background-color 0.3s;
  }
  
  ion-item:hover, ion-item.hovered {
    --background: #dd9191;
  }
  
  /* Active item background */
  ion-item.active-item {
    --background: #f0f0f0 !important;
  }
  
  
  
  