<ion-content>
  <div class="image-container">
    <img src="assets/Images/Location2.svg" class="background-image">
  </div>

  <div>
    <p>What's your location?</p>
  </div>

  <div class="button-containerL2">
    <ion-button (click)="getCurrentPosition()" class="buttonClass">Allow location access</ion-button>
  </div>
  
  <div class="button-container">
    <ion-button (click)="toggleManualInput()" class="buttonClassL">Enter location manually</ion-button>
  </div>

  <div *ngIf="showManualInput">
    <ion-item>
      <ion-input [(ngModel)]="input" class="input-style" type="text" placeholder="Type in your address" (ionInput)="onInputChange()"></ion-input>
    </ion-item>
    
    <ion-list *ngIf="addresses.length > 0">
      <ion-item *ngFor="let address of addresses">
        {{ address.description }}
      </ion-item>
    </ion-list>
  </div>
</ion-content>
