<ion-content>
  <div class="image-container">
    <img src="assets/Images/Location2.svg" class="background-image">
  </div>

  <div>
    <p>What's your location?</p>
  </div>

  <div class="button-containerL2">
    <ion-button (click)="getCurrentPosition()" class="buttonClass3">Navigate To Outlet</ion-button>
  </div>
  
  <!--div class="button-container">
    <ion-button (click)="toggleManualInput()" class="buttonClassL">Enter location manually</ion-button>
  </div-->

  <div *ngIf="showManualInput">
    <ion-item>
      <ion-input [(ngModel)]="number" class="input-style" type="text" placeholder="Street number" (ionInput)="onInputChange()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="streetName" class="input-style" type="text" placeholder="Street name" (ionInput)="onInputChange()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="town" class="input-style" type="text" placeholder="Town" (ionInput)="onInputChange()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="city" class="input-style" type="text" placeholder="City" (ionInput)="onInputChange()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="province" class="input-style" type="text" placeholder="Province" (ionInput)="onInputChange()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="postalCode" class="input-style" type="text" placeholder="Postal code" (ionInput)="onInputChange()"></ion-input>
    </ion-item>
    
    <ion-list *ngIf="addresses.length > 0">
      <ion-item *ngFor="let address of addresses">
        {{ address.description }}
      </ion-item>
    </ion-list>
  </div>
</ion-content>
