<ion-content >
  <form [formGroup]="completeReportForm">
  <div *ngIf="currentForm === 'landing'">
    <div class="header-container">
      <a [routerLink]="['/inspections']" class="back-Arrow"><img src="assets/Images/Back Icon.svg"></a>
      <h1 class="header-text">Complete Inspection</h1>
    </div>
    <ion-card>
      <div class="header-content">
        <ion-img *ngIf="isInspectionReport()" src="../../../assets/Images/Step Symboltick.svg" class="size"></ion-img>
        <ion-img *ngIf="!isInspectionReport()" src="../../../assets/Images/Step Symbol.svg" class="size"></ion-img>
        <ion-card-title
          (click)="toggleForms('reports')"
          [class.red-text]="isInspectionReport()">
          Inspection report
        </ion-card-title>
        <ion-img src="../../../assets/Images/New Line.svg" class="vector"></ion-img>
      </div>
      
      <ion-img src="../../../assets/Images/Step Trail.svg" class="step"></ion-img>

      <div class="header-content">
        <ion-img *ngIf="isGeneralFormValid()" src="../../../assets/Images/Step Symboltick.svg" class="size"></ion-img>
        <ion-img *ngIf="!isGeneralFormValid()" src="../../../assets/Images/Step Symbol.svg" class="size"></ion-img>
        <ion-card-title (click)="toggleForms('general')"
        [class.red-text]="isGeneralFormValid()">
          General
        </ion-card-title>
        <ion-img src="../../../assets/Images/New Line.svg" class="vector"></ion-img>
      </div>
      <ion-img src="../../../assets/Images/Step Trail.svg" class="step"></ion-img>

      <div class="header-content">
        <ion-img *ngIf="isApplicantFormValid()" src="../../../assets/Images/Step Symboltick.svg" class="size"></ion-img>
        <ion-img *ngIf="!isApplicantFormValid()" src="../../../assets/Images/Step Symbol.svg" class="size"></ion-img>
        <ion-card-title (click)="toggleForms('applicant')"
        [class.red-text]="isApplicantFormValid()">
          Verification of the applicant
        </ion-card-title>
        <ion-img src="../../../assets/Images/New Line.svg" class="vector"></ion-img>
      </div>
      <ion-img src="../../../assets/Images/Step Trail.svg" class="step"></ion-img>

      <div class="header-content">
        <ion-img *ngIf="isDocumentationFormValid() " src="../../../assets/Images/Step Symboltick.svg" class="size"></ion-img>
        <ion-img *ngIf="!isDocumentationFormValid() " src="../../../assets/Images/Step Symbol.svg" class="size"></ion-img>

        <ion-card-title (click)="toggleForms('document')"
        [class.red-text]="isDocumentationFormValid()">
          Verification of the Premises Against Submitted Documentation
        </ion-card-title>
        <ion-img src="../../../assets/Images/New Line.svg" class="vector"></ion-img>
      </div>
      <ion-img src="../../../assets/Images/Step Trail.svg" class="step"></ion-img>

      <div class="header-content">
        <ion-img *ngIf="isCommunityFormValid()" src="../../../assets/Images/Step Symboltick.svg" class="size"></ion-img>
        <ion-img *ngIf="!isCommunityFormValid()" src="../../../assets/Images/Step Symbol.svg" class="size"></ion-img>
        <ion-card-title (click)="toggleForms('community')"
        [class.red-text]="isCommunityFormValid()">
          Verification of the Community Consultation Process
        </ion-card-title >
        <ion-img src="../../../assets/Images/New Line.svg" class="vector"></ion-img>
      </div>
      <ion-img src="../../../assets/Images/Step Trail.svg" class="step"></ion-img>
      
      <div class="header-content">
        <ion-img *ngIf="isPhotoAvailable" src="../../../assets/Images/Step Symboltick.svg" class="size"></ion-img>
        <ion-img *ngIf="!isPhotoAvailable" src="../../../assets/Images/Step Symbol.svg" class="size"></ion-img>
        <ion-card-title (click)="toggleForms('photos')">
          Photos
        </ion-card-title >
        <ion-img src="../../../assets/Images/New Line.svg" class="vector"></ion-img>
        
      </div>
      <ion-img src="../../../assets/Images/Step Trail.svg" class="step"></ion-img>
      <div class="header-content">
        <ion-img *ngIf="isRecommendationFormValid() "  src="../../../assets/Images/Step Symboltick.svg" class="size"></ion-img>
        <ion-img *ngIf="!isRecommendationFormValid() "src="../../../assets/Images/Step Symbol.svg" class="size"></ion-img>

        <ion-card-title (click)="toggleForms('recommendation')" [class.red-text]="isRecommendationFormValid()">
          Recommendation
        </ion-card-title>
        <ion-img src="../../../assets/Images/New Line.svg" class="vector"></ion-img>
      </div>
      <hr>
      <ion-button class="buttonClass2" (click)="onSubmit()">
        <img slot="start" class="image" src="../../../assets/Images/Icon (2).svg" alt="Image Alt Text">
        Save
      </ion-button>
    </ion-card>
  </div>

  <div *ngIf="currentForm === 'reports'">

    <div class="header-container">
      <a><img src="assets/Images/Back Icon.svg" class="back-Arrow" (click)="toggleForms('landing')"></a>
      <h1 class="header-text" style="color: black;">Inspection Reports</h1>
    </div>
  
    <span class="inspection-report">Inspection report</span>
    <ion-card class="upload" (click)="selectFileReport()">
      <ion-img src="../../../assets/Images/uploads.svg"></ion-img>
      <span>Click to upload</span>
      <span>DOCX or PDF</span>
      <input type="file" #fileInput (change)="onFileSelected($event)" accept=".docx, .pdf" style="display: none;"  >
    </ion-card>
  
    <ion-card *ngIf="reportFiles.length > 0" class="upload2">
      <div class="header-content2">
        <ion-card-title>{{ reportFiles[0].name }}</ion-card-title>
        <ion-img src="../../../assets/Images/Trash.svg" (click)="presentAlertConfirm(0)" class=""></ion-img>
      </div>
      <span>{{ (reportFiles[0].size / 1024).toFixed(2) }} KB</span>
    </ion-card>
    <ion-card *ngIf="reportFiles.length === 0" class="upload2">
      <span>No file uploaded</span>
    </ion-card>
  
  </div>
  

  <div *ngIf="currentForm === 'applicant'">
    <div class="header-container">
      <img src="assets/Images/Back Icon.svg" class="back-Arrow" (click)="toggleForms('landing')">
      <h1 class="header-text">Applicant</h1>
    </div>
  
    <ion-card class="upload2">
  
      <span>(a) Was an appointment set with the applicant for inspection on this day?</span>
      <ion-card-title class="general-name">
        <ion-grid>
          <ion-row class="horizontal-radios">
            <ion-col >
              <ion-radio-group formControlName="appointmentSet">
                <ion-row class="horizontal-radios">
                  <ion-col >
                    <div class="radios">
                      <ion-radio id="yes_appt" class="move-radio" name="appointmentSet" value="1"></ion-radio>
                      <label for="yes_appt">Yes</label>
                    </div>
                  </ion-col>
                  <ion-col >
                    <div class="radios">
                      <ion-radio id="no_appt" class="move-radio" name="appointmentSet" value="2"></ion-radio>
                      <label for="no_appt">No</label>
                    </div>
                  </ion-col>
                  <ion-col>
                    <div class="radios">
                      <ion-radio id="na_appt" class="move-radio" name="appointmentSet" value="3"></ion-radio>
                      <label for="na_appt">N/A</label>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-radio-group>
            </ion-col>
          </ion-row>
        </ion-grid>
        
      </ion-card-title>
      <hr>
  
      <span>(b) Is the person found or consulted at the premises the applicant in this matter?</span>
      <ion-card-title class="general-name">
        <ion-grid>
          <ion-row class="horizontal-radios">
            <ion-col >
              <ion-radio-group formControlName="consultedOrFound">
                <ion-row class="horizontal-radios">
                  <ion-col >
                    <div class="radios">
                      <ion-radio id="yes_appt" class="move-radio" name="consultedOrFound" value="1"></ion-radio>
                      <label for="yes_appt">Yes</label>
                    </div>
                  </ion-col>
                  <ion-col >
                    <div class="radios">
                      <ion-radio id="no_appt" class="move-radio" name="consultedOrFound" value="2"></ion-radio>
                      <label for="no_appt">No</label>
                    </div>
                  </ion-col>
                  <ion-col>
                    <div class="radios">
                      <ion-radio id="na_appt" class="move-radio" name="consultedOrFound" value="3"></ion-radio>
                      <label for="na_appt">N/A</label>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-radio-group>
            </ion-col>
          </ion-row>
        </ion-grid>
        
      </ion-card-title>
      <hr>
  
      <!-- Repeat similar blocks for other questions with appropriate formControlName -->
  
    <!-- Repeat similar blocks for other questions with appropriate formControlName -->
    <span>(c) Has the applicant indicated that this particular person will be at the premises?</span>
    <ion-card-title class="general-name">
      <ion-grid>
        <ion-row class="horizontal-radios">
          <ion-col >
            <ion-radio-group formControlName="applicantIndicatedPersonAtPremises">
              <ion-row class="horizontal-radios">
                <ion-col >
                  <div class="radios">
                    <ion-radio id="yes_appt" class="move-radio" name="applicantIndicatedPersonAtPremises" value="1"></ion-radio>
                    <label for="yes_appt">Yes</label>
                  </div>
                </ion-col>
                <ion-col >
                  <div class="radios">
                    <ion-radio id="no_appt" class="move-radio" name="applicantIndicatedPersonAtPremises" value="2"></ion-radio>
                    <label for="no_appt">No</label>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="radios">
                    <ion-radio id="na_appt" class="move-radio" name="consultedOrFoundapplicantIndicatedPersonAtPremises" value="3"></ion-radio>
                    <label for="na_appt">N/A</label>
                  </div>
                </ion-col>
              </ion-row>
            </ion-radio-group>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </ion-card-title>
    <hr>

    <span>(d) If not the applicant, can the person found at the premises confirm the applicant?</span>
    <ion-card-title class="general-name">
      <ion-grid>
        <ion-row class="horizontal-radios">
          <ion-col >
            <ion-radio-group formControlName="canPersonBeFound">
              <ion-row class="horizontal-radios">
                <ion-col >
                  <div class="radios">
                    <ion-radio id="yes_appt" class="move-radio" name="canPersonBeFound" value="1"></ion-radio>
                    <label for="yes_appt">Yes</label>
                  </div>
                </ion-col>
                <ion-col >
                  <div class="radios">
                    <ion-radio id="no_appt" class="move-radio" name="canPersonBeFound" value="2"></ion-radio>
                    <label for="no_appt">No</label>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="radios">
                    <ion-radio id="na_appt" class="move-radio" name="canPersonBeFound" value="3"></ion-radio>
                    <label for="na_appt">N/A</label>
                  </div>
                </ion-col>
              </ion-row>
            </ion-radio-group>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </ion-card-title>
    <hr>


    <span>(e) Does the applicant have any other interests in the liquor trade in the republic?</span>
    <ion-card-title class="general-name">
      <ion-grid>
        <ion-row class="horizontal-radios">
          <ion-col >
            <ion-radio-group formControlName="interestInLiquorTrade">
              <ion-row class="horizontal-radios">
                <ion-col >
                  <div class="radios">
                    <ion-radio id="yes_appt" class="move-radio" name="interestInLiquorTrade" value="1"></ion-radio>
                    <label for="yes_appt">Yes</label>
                  </div>
                </ion-col>
                <ion-col >
                  <div class="radios">
                    <ion-radio id="no_appt" class="move-radio" name="interestInLiquorTrade" value="2"></ion-radio>
                    <label for="no_appt">No</label>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="radios">
                    <ion-radio id="na_appt" class="move-radio" name="interestInLiquorTrade" value="3"></ion-radio>
                    <label for="na_appt">N/A</label>
                  </div>
                </ion-col>
              </ion-row>
            </ion-radio-group>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </ion-card-title>
    <hr>


    <span>(f) Has any of the above listed outlets ever been issued with a compliance notice?</span>
    <ion-card-title class="general-name">
      <ion-grid>
        <ion-row class="horizontal-radios">
          <ion-col >
            <ion-radio-group formControlName="issuedComplience">
              <ion-row class="horizontal-radios">
                <ion-col >
                  <div class="radios">
                    <ion-radio id="yes_appt" class="move-radio" name="issuedComplience" value="1"></ion-radio>
                    <label for="yes_appt">Yes</label>
                  </div>
                </ion-col>
                <ion-col >
                  <div class="radios">
                    <ion-radio id="no_appt" class="move-radio" name="issuedComplience" value="2"></ion-radio>
                    <label for="no_appt">No</label>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="radios">
                    <ion-radio id="na_appt" class="move-radio" name="issuedComplience" value="3"></ion-radio>
                    <label for="na_appt">N/A</label>
                  </div>
                </ion-col>
              </ion-row>
            </ion-radio-group>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </ion-card-title>
    <hr>


    <span>(g) Were any complaints received against any of the outlets mentioned in (f)?</span>
    <ion-card-title class="general-name">
      <ion-grid>
        <ion-row class="horizontal-radios">
          <ion-col >
            <ion-radio-group formControlName="complaintsReceived">
              <ion-row class="horizontal-radios">
                <ion-col >
                  <div class="radios">
                    <ion-radio id="yes_appt" class="move-radio" name="complaintsReceived" value="1"></ion-radio>
                    <label for="yes_appt">Yes</label>
                  </div>
                </ion-col>
                <ion-col >
                  <div class="radios">
                    <ion-radio id="no_appt" class="move-radio" name="complaintsReceived" value="2"></ion-radio>
                    <label for="no_appt">No</label>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="radios">
                    <ion-radio id="na_appt" class="move-radio" name="complaintsReceived" value="3"></ion-radio>
                    <label for="na_appt">N/A</label>
                  </div>
                </ion-col>
              </ion-row>
            </ion-radio-group>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </ion-card-title>
    <hr>



     
    </ion-card>
  </div>
  
  
  <div *ngIf="currentForm === 'general'" >
    <div class="header-container">
      <img src="assets/Images/Back Icon.svg"  class="back-Arrow"(click)="toggleForms('landing')">
      <h1 class="header-text">General</h1>
    </div>
    
        <ion-label>Person Contact</ion-label>
        <ion-item>
        <ion-input placeholder="Enter Person Name" formControlName="contactPerson"></ion-input>
        </ion-item>
        <ion-label position="floating">Inspection Date</ion-label>
        <ion-item>
          <ion-input  placeholder="{{ dateFormatPlaceholder }}" id="inspection-date-input" formControlName="inspectionDate" class="small-input">
        <ion-icon name="calendar" slot="end" (click)="openDatetimePicker()"></ion-icon>
      </ion-input>
        </ion-item>
        <ion-button id="open-datetime" fill="clear" style="display: none;"></ion-button>
        <ion-popover trigger="open-datetime">
         <ng-template>
        <ion-content>
          <ion-datetime
            placeholder="Enter Inspection Date"
            (ionChange)="dateChanged1($event); closePopover()"
          ></ion-datetime>
        </ion-content>
      </ng-template>
    </ion-popover>
       
        <ion-label position="floating">Latitude Of Outlet (South)</ion-label>
        <ion-item>
        <ion-input placeholder="Enter Latitude" formControlName="latitude"></ion-input>
        </ion-item>
        <ion-label position="floating">Longitude of Outlet (East)</ion-label>
        <ion-item>
        <ion-input placeholder="Enter Longitude" formControlName="longitude"></ion-input>
      </ion-item>
      <div class="">
        <ion-button (click)="getCurrentPosition()" class="buttonClass2">Allow location access</ion-button>
      </div>
  </div>
  <!--Documentation-->
  <div *ngIf="currentForm === 'document'">
    <div class="header-container">
      <img src="assets/Images/Back Icon.svg" class="back-Arrow" (click)="toggleForms('landing')">
      <h1 class="header-text">Documentation</h1>
    </div>
  
    <ion-card class="upload2">
      <span>(a) Does the applicant have a right to occupy the premises ?</span>
      <ion-card-title class="general-name">
        <ion-grid>
          <ion-row class="horizontal-radios">
            <ion-col >
              <ion-radio-group formControlName="rightToOccupy">
                <ion-row class="horizontal-radios">
                  <ion-col >
                    <div class="radios">
                      <ion-radio id="yes_appt" class="move-radio" name="rightToOccupy" value="1"></ion-radio>
                      <label for="yes_appt">Yes</label>
                    </div>
                  </ion-col>
                  <ion-col >
                    <div class="radios">
                      <ion-radio id="no_appt" class="move-radio" name="rightToOccupy" value="2"></ion-radio>
                      <label for="no_appt">No</label>
                    </div>
                  </ion-col>
                  <ion-col>
                    <div class="radios">
                      <ion-radio id="na_appt" class="move-radio" name="rightToOccupy" value="3"></ion-radio>
                      <label for="na_appt">N/A</label>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-radio-group>
            </ion-col>
          </ion-row>
        </ion-grid>
        
      </ion-card-title>
      <hr>
  
  
      <span>(b) If the lease agreement is attached, is the Lessor's proof of right?</span>
      <ion-card-title class="general-name">
        <ion-grid>
          <ion-row class="horizontal-radios">
            <ion-col >
              <ion-radio-group formControlName="leaseAttached">
                <ion-row class="horizontal-radios">
                  <ion-col >
                    <div class="radios">
                      <ion-radio id="yes_appt" class="move-radio" name="leaseAttached" value="1"></ion-radio>
                      <label for="yes_appt">Yes</label>
                    </div>
                  </ion-col>
                  <ion-col >
                    <div class="radios">
                      <ion-radio id="no_appt" class="move-radio" name="leaseAttached" value="2"></ion-radio>
                      <label for="no_appt">No</label>
                    </div>
                  </ion-col>
                  <ion-col>
                    <div class="radios">
                      <ion-radio id="na_appt" class="move-radio" name="leaseAttached" value="3"></ion-radio>
                      <label for="na_appt">N/A</label>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-radio-group>
            </ion-col>
          </ion-row>
        </ion-grid>
        
      </ion-card-title>
      <hr>
  
  
      <span>(c) Are the premises situated at the address indicated in the application?</span>
      <ion-card-title class="general-name">
        <ion-grid>
          <ion-row class="horizontal-radios">
            <ion-col >
              <ion-radio-group formControlName="situatedInRightAddress">
                <ion-row class="horizontal-radios">
                  <ion-col >
                    <div class="radios">
                      <ion-radio id="yes_appt" class="move-radio" name="situatedInRightAddress" value="1"></ion-radio>
                      <label for="yes_appt">Yes</label>
                    </div>
                  </ion-col>
                  <ion-col >
                    <div class="radios">
                      <ion-radio id="no_appt" class="move-radio" name="situatedInRightAddress" value="2"></ion-radio>
                      <label for="no_appt">No</label>
                    </div>
                  </ion-col>
                  <ion-col>
                    <div class="radios">
                      <ion-radio id="na_appt" class="move-radio" name="situatedInRightAddress" value="3"></ion-radio>
                      <label for="na_appt">N/A</label>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-radio-group>
            </ion-col>
          </ion-row>
        </ion-grid>
        
      </ion-card-title>
      <hr>
  
      <span>(d) Are the premises in line with the plan submitted with the application?</span>
      <ion-card-title class="general-name">
        <ion-grid>
          <ion-row class="horizontal-radios">
            <ion-col >
              <ion-radio-group formControlName="inLineWithSubmittedApplication">
                <ion-row class="horizontal-radios">
                  <ion-col >
                    <div class="radios">
                      <ion-radio id="yes_appt" class="move-radio" name="inLineWithSubmittedApplication" value="1"></ion-radio>
                      <label for="yes_appt">Yes</label>
                    </div>
                  </ion-col>
                  <ion-col >
                    <div class="radios">
                      <ion-radio id="no_appt" class="move-radio" name="inLineWithSubmittedApplication" value="2"></ion-radio>
                      <label for="no_appt">No</label>
                    </div>
                  </ion-col>
                  <ion-col>
                    <div class="radios">
                      <ion-radio id="na_appt" class="move-radio" name="inLineWithSubmittedApplication" value="3"></ion-radio>
                      <label for="na_appt">N/A</label>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-radio-group>
            </ion-col>
          </ion-row>
        </ion-grid>
        
      </ion-card-title>
      <hr>
  
  
      <span>(e) Are the premises suitable for the category of registration applied for?</span>
      <ion-card-title class="general-name">
        <ion-grid>
          <ion-row class="horizontal-radios">
            <ion-col >
              <ion-radio-group formControlName="premisesSuitable">
                <ion-row class="horizontal-radios">
                  <ion-col >
                    <div class="radios">
                      <ion-radio id="yes_appt" class="move-radio" name="premisesSuitable" value="1"></ion-radio>
                      <label for="yes_appt">Yes</label>
                    </div>
                  </ion-col>
                  <ion-col >
                    <div class="radios">
                      <ion-radio id="no_appt" class="move-radio" name="premisesSuitable" value="2"></ion-radio>
                      <label for="no_appt">No</label>
                    </div>
                  </ion-col>
                  <ion-col>
                    <div class="radios">
                      <ion-radio id="na_appt" class="move-radio" name="premisesSuitable" value="3"></ion-radio>
                      <label for="na_appt">N/A</label>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-radio-group>
            </ion-col>
          </ion-row>
        </ion-grid>
        
      </ion-card-title>
      <hr>
  
  
      <span>(f) Ablution facilities - are these in working order?</span>
      <ion-card-title class="general-name">
        <ion-grid>
          <ion-row class="horizontal-radios">
            <ion-col >
              <ion-radio-group formControlName="ablutionFacilityInOrder">
                <ion-row class="horizontal-radios">
                  <ion-col >
                    <div class="radios">
                      <ion-radio id="yes_appt" class="move-radio" name="ablutionFacilityInOrder" value="1"></ion-radio>
                      <label for="yes_appt">Yes</label>
                    </div>
                  </ion-col>
                  <ion-col >
                    <div class="radios">
                      <ion-radio id="no_appt" class="move-radio" name="ablutionFacilityInOrder" value="2"></ion-radio>
                      <label for="no_appt">No</label>
                    </div>
                  </ion-col>
                  <ion-col>
                    <div class="radios">
                      <ion-radio id="na_appt" class="move-radio" name="ablutionFacilityInOrder" value="3"></ion-radio>
                      <label for="na_appt">N/A</label>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-radio-group>
            </ion-col>
          </ion-row>
        </ion-grid>
        
      </ion-card-title>
      <hr>
  
      <span>(g) Are the premises ready to commence with the business?</span>
      <ion-card-title class="general-name">
        <ion-grid>
          <ion-row class="horizontal-radios">
            <ion-col >
              <ion-radio-group formControlName="readyForBusiness">
                <ion-row class="horizontal-radios">
                  <ion-col >
                    <div class="radios">
                      <ion-radio id="yes_appt" class="move-radio" name="readyForBusiness" value="1"></ion-radio>
                      <label for="yes_appt">Yes</label>
                    </div>
                  </ion-col>
                  <ion-col >
                    <div class="radios">
                      <ion-radio id="no_appt" class="move-radio" name="readyForBusiness" value="2"></ion-radio>
                      <label for="no_appt">No</label>
                    </div>
                  </ion-col>
                  <ion-col>
                    <div class="radios">
                      <ion-radio id="na_appt" class="move-radio" name="readyForBusiness" value="3"></ion-radio>
                      <label for="na_appt">N/A</label>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-radio-group>
            </ion-col>
          </ion-row>
        </ion-grid>
        
      </ion-card-title>
      <hr>
  
  
   
    </ion-card>
  </div>
  
  


  <!--Community-->
  <div *ngIf="currentForm === 'community'">
    <div class="header-container">
      <img src="assets/Images/Back Icon.svg" class="back-Arrow" (click)="toggleForms('landing')">
      <h1 class="header-text">Community</h1>
    </div>
  
    <ion-card class="upload2">
      <!-- Question (a) -->
      <span>(a) Was Form 2/8/12 served on the correct ward committee?</span>
      <ion-card-title class="general-name">
        <ion-grid>
          <ion-row class="horizontal-radios">
            <ion-col >
              <ion-radio-group formControlName="formServedToCorrectWardCommittee">
                <ion-row class="horizontal-radios">
                  <ion-col >
                    <div class="radios">
                      <ion-radio id="yes_appt" class="move-radio" name="formServedToCorrectWardCommittee" value="1"></ion-radio>
                      <label for="yes_appt">Yes</label>
                    </div>
                  </ion-col>
                  <ion-col >
                    <div class="radios">
                      <ion-radio id="no_appt" class="move-radio" name="formServedToCorrectWardCommittee" value="2"></ion-radio>
                      <label for="no_appt">No</label>
                    </div>
                  </ion-col>
                  <ion-col>
                    <div class="radios">
                      <ion-radio id="na_appt" class="move-radio" name="formServedToCorrectWardCommittee" value="3"></ion-radio>
                      <label for="na_appt">N/A</label>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-radio-group>
            </ion-col>
          </ion-row>
        </ion-grid>
        
      </ion-card-title>
      <hr>
  
  
      <!-- Repeat similar blocks for other questions with appropriate formControlName -->
      <!-- Question (b) -->
      <span>(b) Form 2/8/12 was confirmed by the ward councillor of the specific ward?</span>
      <ion-card-title class="general-name">
        <ion-grid>
          <ion-row class="horizontal-radios">
            <ion-col >
              <ion-radio-group formControlName="confirmedByCouncillor">
                <ion-row class="horizontal-radios">
                  <ion-col >
                    <div class="radios">
                      <ion-radio id="yes_appt" class="move-radio" name="confirmedByCouncillor" value="1"></ion-radio>
                      <label for="yes_appt">Yes</label>
                    </div>
                  </ion-col>
                  <ion-col >
                    <div class="radios">
                      <ion-radio id="no_appt" class="move-radio" name="confirmedByCouncillor" value="2"></ion-radio>
                      <label for="no_appt">No</label>
                    </div>
                  </ion-col>
                  <ion-col>
                    <div class="radios">
                      <ion-radio id="na_appt" class="move-radio" name="confirmedByCouncillor" value="3"></ion-radio>
                      <label for="na_appt">N/A</label>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-radio-group>
            </ion-col>
          </ion-row>
        </ion-grid>
        
      </ion-card-title>
      <hr>
  
  
      <!-- Repeat similar blocks for other questions with appropriate formControlName -->
      <!-- Question (c) -->
      <span>(c) Is the ward committee's report in terms of Section 22(2)(d)(i) filed in the application?</span>
      <ion-card-title class="general-name">
        <ion-grid>
          <ion-row class="horizontal-radios">
            <ion-col >
              <ion-radio-group formControlName="wardCommiteeReport">
                <ion-row class="horizontal-radios">
                  <ion-col >
                    <div class="radios">
                      <ion-radio id="yes_appt" class="move-radio" name="wardCommiteeReport" value="1"></ion-radio>
                      <label for="yes_appt">Yes</label>
                    </div>
                  </ion-col>
                  <ion-col >
                    <div class="radios">
                      <ion-radio id="no_appt" class="move-radio" name="wardCommiteeReport" value="2"></ion-radio>
                      <label for="no_appt">No</label>
                    </div>
                  </ion-col>
                  <ion-col>
                    <div class="radios">
                      <ion-radio id="na_appt" class="move-radio" name="wardCommiteeReport" value="3"></ion-radio>
                      <label for="na_appt">N/A</label>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-radio-group>
            </ion-col>
          </ion-row>
        </ion-grid>
        
      </ion-card-title>
      <hr>
  
  
      <!-- Repeat similar blocks for other questions with appropriate formControlName -->
      <!-- Question (d) -->
      <span>(d) Was the community appropriately and adequately consulted (furnish a report regarding verification)?</span>
      <ion-card-title class="general-name">
        <ion-grid>
          <ion-row class="horizontal-radios">
            <ion-col >
              <ion-radio-group formControlName="communityConsultation">
                <ion-row class="horizontal-radios">
                  <ion-col >
                    <div class="radios">
                      <ion-radio id="yes_appt" class="move-radio" name="communityConsultation" value="1"></ion-radio>
                      <label for="yes_appt">Yes</label>
                    </div>
                  </ion-col>
                  <ion-col >
                    <div class="radios">
                      <ion-radio id="no_appt" class="move-radio" name="communityConsultation" value="2"></ion-radio>
                      <label for="no_appt">No</label>
                    </div>
                  </ion-col>
                  <ion-col>
                    <div class="radios">
                      <ion-radio id="na_appt" class="move-radio" name="communityConsultation" value="3"></ion-radio>
                      <label for="na_appt">N/A</label>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-radio-group>
            </ion-col>
          </ion-row>
        </ion-grid>
        
      </ion-card-title>
      <hr>
  
  
      <!-- Repeat similar blocks for other questions with appropriate formControlName -->
      <!-- Question (e) -->
      <span>(e) Is there an educational institution within the prescribed 100m radius?</span>
      <ion-card-title class="general-name">
        <ion-grid>
          <ion-row class="horizontal-radios">
            <ion-col >
              <ion-radio-group formControlName="educationalInstitution">
                <ion-row class="horizontal-radios">
                  <ion-col >
                    <div class="radios">
                      <ion-radio id="yes_appt" class="move-radio" name="educationalInstitution" value="1"></ion-radio>
                      <label for="yes_appt">Yes</label>
                    </div>
                  </ion-col>
                  <ion-col >
                    <div class="radios">
                      <ion-radio id="no_appt" class="move-radio" name="educationalInstitution" value="2"></ion-radio>
                      <label for="no_appt">No</label>
                    </div>
                  </ion-col>
                  <ion-col>
                    <div class="radios">
                      <ion-radio id="na_appt" class="move-radio" name="educationalInstitution" value="3"></ion-radio>
                      <label for="na_appt">N/A</label>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-radio-group>
            </ion-col>
          </ion-row>
        </ion-grid>
        
      </ion-card-title>
      <hr>
  
  
      <!-- Repeat similar blocks for other questions with appropriate formControlName -->
      <!-- Question (f) -->
      <span>(f) Was Form 2/8/12 appropriately served at the educational institution?</span>
      <ion-card-title class="general-name">
        <ion-grid>
          <ion-row class="horizontal-radios">
            <ion-col >
              <ion-radio-group formControlName="formServedAtEducationInstitution">
                <ion-row class="horizontal-radios">
                  <ion-col >
                    <div class="radios">
                      <ion-radio id="yes_appt" class="move-radio" name="formServedAtEducationInstitution" value="1"></ion-radio>
                      <label for="yes_appt">Yes</label>
                    </div>
                  </ion-col>
                  <ion-col >
                    <div class="radios">
                      <ion-radio id="no_appt" class="move-radio" name="formServedAtEducationInstitution" value="2"></ion-radio>
                      <label for="no_appt">No</label>
                    </div>
                  </ion-col>
                  <ion-col>
                    <div class="radios">
                      <ion-radio id="na_appt" class="move-radio" name="formServedAtEducationInstitution" value="3"></ion-radio>
                      <label for="na_appt">N/A</label>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-radio-group>
            </ion-col>
          </ion-row>
        </ion-grid>
        
      </ion-card-title>
      <hr>
  
  
      <!-- Repeat similar blocks for other questions with appropriate formControlName -->
      <!-- Question (g) -->
      <span>(g) Is there a place of worship within the prescribed 100m?</span>
      <ion-card-title class="general-name">
        <ion-grid>
          <ion-row class="horizontal-radios">
            <ion-col >
              <ion-radio-group formControlName="placeOfWorship">
                <ion-row class="horizontal-radios">
                  <ion-col >
                    <div class="radios">
                      <ion-radio id="yes_appt" class="move-radio" name="aplaceOfWorship" value="1"></ion-radio>
                      <label for="yes_appt">Yes</label>
                    </div>
                  </ion-col>
                  <ion-col >
                    <div class="radios">
                      <ion-radio id="no_appt" class="move-radio" name="placeOfWorship" value="2"></ion-radio>
                      <label for="no_appt">No</label>
                    </div>
                  </ion-col>
                  <ion-col>
                    <div class="radios">
                      <ion-radio id="na_appt" class="move-radio" name="placeOfWorship" value="3"></ion-radio>
                      <label for="na_appt">N/A</label>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-radio-group>
            </ion-col>
          </ion-row>
        </ion-grid>
        
      </ion-card-title>
      <hr>
  
  
     
        <!-- Question (h) -->
        <span>(h) Was Form 2/8/12 appropriately served at the place of worship?</span>
        <ion-card-title class="general-name">
          <ion-grid>
            <ion-row class="horizontal-radios">
              <ion-col >
                <ion-radio-group formControlName="formServedAtPlaceOfWorship">
                  <ion-row class="horizontal-radios">
                    <ion-col >
                      <div class="radios">
                        <ion-radio id="yes_appt" class="move-radio" name="formServedAtPlaceOfWorship" value="1"></ion-radio>
                        <label for="yes_appt">Yes</label>
                      </div>
                    </ion-col>
                    <ion-col >
                      <div class="radios">
                        <ion-radio id="no_appt" class="move-radio" name="formServedAtPlaceOfWorship" value="2"></ion-radio>
                        <label for="no_appt">No</label>
                      </div>
                    </ion-col>
                    <ion-col>
                      <div class="radios">
                        <ion-radio id="na_appt" class="move-radio" name="formServedAtPlaceOfWorship" value="3"></ion-radio>
                        <label for="na_appt">N/A</label>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-radio-group>
              </ion-col>
            </ion-row>
          </ion-grid>
          
        </ion-card-title>
        <hr>
    </ion-card>

  
</div>


  
  <!--Recomendation-->

  <div *ngIf="currentForm ==='recommendation'">

    <div class="header-container">
        <img src="assets/Images/Back Icon.svg" class="back-Arrow" (click)="toggleForms('landing')">
        <h1 class="header-text">Recommendation</h1>
    </div>
   
    <ion-card class="upload2">
        <!-- Recommendation Options -->
        <span class="appReco"> Is the application recommendation for registering for the category applied for ?</span>
        <br>
        <br>
        <ion-card-title class="general-name">
          <ion-grid>
            <ion-row class="vertical-radios">
              <ion-radio-group formControlName="recommendation">
                <div class="radioss">
                  <ion-radio id="yes_appt" class="move-radio" name="recommendation" value="1"></ion-radio>
                  <label for="yes_appt">Yes</label>
                </div>
                <div class="radioss">
                  <ion-radio id="no_appt" class="move-radio" name="recommendation" value="2"></ion-radio>
                  <label for="no_appt">No</label>
                </div>
                <div class="radioss">
                  <ion-radio id="na_appt_sec22_5" class="move-radio" name="recommendation" value="3"></ion-radio>
                  <label for="sec22_5">Section 22(5)</label>
                </div>
                <div class="radioss">
                  <ion-radio id="na_appt_hearing" class="move-radio" name="recommendation" value="4"></ion-radio>
                  <label for="hearing">Hearing</label>
                </div>
              </ion-radio-group>
            </ion-row>
          </ion-grid>
        </ion-card-title>
    </ion-card>

    
      <ion-label position="floating">Inspection Date</ion-label>
      <ion-item>
      <ion-input  placeholder="{{ dateFormatPlaceholder }}" id="inspection-date-input" formControlName="futureInspectionDate" class="small-input">
        <ion-icon name="calendar" slot="end" (click)="openDatetimePicker()"></ion-icon>
      </ion-input>
    </ion-item>
    <ion-button id="open-datetime" fill="clear" style="display: none;"></ion-button>
    <ion-popover trigger="open-datetime">
      <ng-template>
        <ion-content>
          <ion-datetime
            placeholder="Enter Future Inspection Date"
            (ionChange)="dateChanged($event); closePopover()"
          ></ion-datetime>
        </ion-content>
      </ng-template>
    </ion-popover>


    <ion-label position="floating">Comments</ion-label>
    <ion-item>
    <ion-input placeholder="Enter Comments" formControlName="comments"></ion-input>
    </ion-item>    

    <!--Upload Docs-->  
     <ion-card class="upload" (click)="selectFileNotice()">
      <ion-img src="../../../assets/Images/uploads.svg"></ion-img>
      <span>Click to upload</span>
      <span>DOCX or PDF</span>
      <input type="file" #fileInput (change)="onFileSelectedRecommendation($event)" accept=".docx, .pdf" style="display: none;">
    </ion-card>
  
    <ion-card *ngIf="noticeFiles.length > 0" class="upload2">
      <div class="header-content2">
        <ion-card-title>{{ noticeFiles[0].name }}</ion-card-title>
        <ion-img src="../../../assets/Images/Trash.svg" (click)="presentAlertConfirmNotice(0)" class=""></ion-img>
      </div>
      <span>{{ (noticeFiles[0].size / 1024).toFixed(2) }} KB</span>
    </ion-card>
    <ion-card *ngIf="noticeFiles.length === 0" class="upload2">
      <span>No file uploaded</span>
    </ion-card>
    
</div>


<!--Photos-->

<div *ngIf="currentForm ==='photos'">

  <div class="header-container">
      <img src="assets/Images/Back Icon.svg" class="back-Arrow" (click)="toggleForms('landing')">
      <h1 class="header-text">Photos</h1>
  </div>
    

  <ion-card class="upload3">
    <ng-container *ngIf="imageSources.length > 0; else noPhoto">
      <div class="scrollable-container">
        <div *ngFor="let image of imageSources.slice().reverse(); let i = index">
          <img [src]="image.src" alt="Uploaded Photo" class="single-uploaded-photo" (click)="toggleDropdown($event, i)">
          <p class="image-description">{{ image.description }}</p>
          <div class="dropdown-content" [class.show]="dropdownVisible[i]">
            <ion-item (click)="viewImage(image.src)">View</ion-item>
            <ion-item (click)="deleteImage(image.src)">Delete</ion-item>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #noPhoto>
      <p class="no-photo-text">No photo uploaded yet</p>
    </ng-template>
  </ion-card>
  
  

  <div class="add-ticket-container">
    <ion-buttons slot="end">
      <ion-img src="assets/Images/Vector.svg" (click)="presentActionSheet()" class="add-ticket-icon"></ion-img>
    </ion-buttons>
  </div>


</div>

</form>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-clip-rotate-pulse">
  <p style="color:white;font-size: 20px;text-align: center;">Please wait...</p>
</ngx-spinner>
</ion-content>

<app-menu-footer></app-menu-footer>