
<app-menu-header></app-menu-header>
<ion-content>
  <div class="dashboard-container">
      <p class="quick-action">Inspection</p>
      
      <ion-item class="search-item">
        <ion-input name="search" placeholder="Search Outlets" class="search-input">
          <ion-icon slot="start" src="../../../assets/Images/search.svg" name="search-outline" class="search-icon"></ion-icon>
        </ion-input>
      </ion-item>

      

      <ion-card *ngFor="let outlet of outlets">
        <ion-grid class="top">
          <ion-row>
            <ion-col>
              <ion-img [src]="outlet.imgSrc"></ion-img>
            </ion-col>
            <ion-col size="6">
              <!--Header-->
              <span class="detail-header font-weight">{{ outlet.header }}</span>
              <br>
              <!--Details-->
              <span class="info-time" [innerHTML]="outlet.details"></span>
              <br>
            </ion-col>
            <ion-col class="centered-col">
              <ion-img [src]="outlet.iconSrc"></ion-img>
            </ion-col>
          </ion-row>
        </ion-grid>
      
        <ion-button [routerLink]="['/complete-inspection']"class="buttonClass">
          Complete Inspection
        </ion-button>
      </ion-card>