<ion-content>
  <ion-header>
    <div class="header-container">
      <a [routerLink]=""><img src="assets/Images/Back Icon.svg"></a>
      <h1 class="header-text">General</h1>
    </div>
  </ion-header>


  <div class="bordered-paragraph">
  <p class="p1">Person Contacted</p>
  <p class="p2">John Doe</p>
  </div>

  <div class="bordered-paragraph">
    <p class="p1">Inspection Date</p>
    <p class="p2">05/03/2024 08:00AM</p>
    </div>

  <div class="bordered-paragraph">
      <p class="p1">Latitude if Outlet (South)</p>
      <p class="p2">40.7128</p>
      </div>

  <div class="bordered-paragraph">
        <p class="p1">Latitude if Outlet (South)</p>
        <p class="p2">-74.0060</p>
        </div>

    <div class="button-container">
      <ion-button class="buttonClass">Save</ion-button>
    </div>

</ion-content>