<ion-content>
  <div class="header-container">
    <img src="assets/Images/Back Icon.svg" class="back-Arrow" (click)="navigateBack()">
    <h1 class="header-text">View Details</h1>
  </div>


<div class="">
<ion-label class="label">ECP Number</ion-label>
<p class="info-time">ECLB001521</p>

<ion-label class="label">Outlet Name</ion-label>
<p class="info-time">Entabeni</p>

<ion-label class="label">Address of Outlet</ion-label>
<p class="info-time">Residential</p>

<ion-label class="label">Region of Outlet</ion-label>
<p class="info-time">No 33 silver Oak</p>

<ion-label class="label">Area of Outlet</ion-label>
<p class="info-time">Algoa Park</p>

<ion-label class="label">Amount</ion-label>
<p class="info-time">R 3000</p>

  </div>

</ion-content>

