

<ion-content>
  <div class="dashboard-container">
    <div class="header-container">
      <img src="assets/Images/Back Icon.svg" (click)="navigateToBack()" class="back-Arrow">
    </div>
      <p class="quick-action">Notifications</p>

      <ion-card>
        <span class="outlet">New</span>
      </ion-card>

      <ion-card class="upload2">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-img src="../../../assets/Images/Frame.svg" class="bell"></ion-img>
            </ion-col>
            <ion-col size="8" >
              <span class="general-name">Outlet Inspection Allocated</span>
              <br>
              <span class="info-time">Outlet Inspection Allocated</span>
            </ion-col>
            <ion-col>
              <span class="general-name2">15 Min</span>

            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
      <hr>
      <ion-card class="upload2">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-img src="../../../assets/Images/Frame.svg" class="bell"></ion-img>
            </ion-col>
            <ion-col size="8" >
              <span class="general-name">Outlet Inspection Allocated</span>
              <br>
              <span class="info-time">Outlet Inspection Allocated</span>
            </ion-col>
            <ion-col>
              <span class="general-name2">15 Min</span>

            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
      <hr>
      <ion-card class="upload2">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-img src="../../../assets/Images/Frame.svg" class="bell"></ion-img>
            </ion-col>
            <ion-col size="8" >
              <span class="general-name">Outlet Inspection Allocated</span>
              <br>
              <span class="info-time">Outlet Inspection Allocated</span>
            </ion-col>
            <ion-col>
              <span class="general-name2">15 Min</span>

            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
      
  </div>
</ion-content>
<app-menu-footer></app-menu-footer>
