<ion-content>

  <ion-header>
    <h1 class="h1">Notifications</h1>
  </ion-header>


<ion-item>
  <div class="flex-container">
    <h1>New</h1>
    <h2>Mark all</h2>
  </div>
</ion-item>

<ion-item>
  <div class="notContainer">
    <div>
      <img src="assets/Images/notification-bing.svg" class="inlet-parag">
      <p class="inlet-parag">Outlet Inspection Allocated</p>
      <p class="inlet-parag">15 Min</p>
      <p>Corem ipsum dolor sit amet, adipiscing elit.</p>
    </div>
  </div>
</ion-item>

</ion-content>
