<ion-content>
  <ion-header>
    <div class="header-container">
    <img src="assets/Images/Back Icon.svg" class="back-Arrow"> <h1 class="header-text">Edit profile</h1>
    </div>
  </ion-header>


  <ion-item>
    <ion-input class="input-styling" type="text" placeholder="Name & Surname"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input class="input-styling" type="text" placeholder="Email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input class="input-styling" type="text" placeholder="Phone number"></ion-input>
  </ion-item>

</ion-content>