

<ion-content>
 
    
   
   <div class="header-container">
    <a [routerLink]="['/previous-page']">
      <img class="back-Arrow" src="assets/Images/Back Icon.svg">
    </a>
    <h1 class="header-text">Edit profile</h1>
  </div>


  <ion-item>
    <ion-input class="input-styling" type="text" placeholder="Name & Surname"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input class="input-styling" type="text" placeholder="Email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input class="input-styling" type="text" placeholder="Phone number"></ion-input>
  </ion-item>

</ion-content>
<app-outlet-menu-footer></app-outlet-menu-footer>