<ion-content>
  <div class="header-container">
    <a [routerLink]="['/dashboard']">
      <img class="back-Arrow" src="assets/Images/Back Icon.svg">
    </a>
    <h1 class="header-text">Photos</h1>
  </div>

  <ion-item>
    <ion-select class="custom-select" placeholder="Select outlet">
      <ion-select-option value="outlet1">Outlet 1</ion-select-option>
      <ion-select-option value="outlet2">Outlet 2</ion-select-option>
      <ion-select-option value="outlet3">Outlet 3</ion-select-option>
    </ion-select>
  </ion-item>
  

  <ion-card class="upload">
    <ng-container *ngIf="imageSources.length > 0; else noPhoto">
        <div *ngFor="let image of imageSources.slice().reverse(); let i = index">
          <img [src]="image.src" alt="Uploaded Photo" class="single-uploaded-photo"  (click)="toggleDropdown($event, i)">
          <p class="image-description">{{ image.description }}</p>
          <div class="dropdown-content" [class.show]="dropdownVisible[i]">
            <ion-item (click)="viewImage(image.src)">View</ion-item>
            <ion-item (click)="deleteImage(image.src)">Delete</ion-item>
          </div>
        </div>
      
    </ng-container>
    <ng-template #noPhoto>
      <p class="no-photo-text">No photo uploaded yet</p>
    </ng-template>
  </ion-card>
  
  

  <div class="add-ticket-container">
    <ion-buttons slot="end">
      <ion-img src="assets/Images/Vector.svg" (click)="presentActionSheet()" class="add-ticket-icon"></ion-img>
    </ion-buttons>
  </div>
</ion-content>

<app-menu-footer></app-menu-footer>
