<app-outlethaeder></app-outlethaeder>
<div class="slider-container">
  <ion-card class="slide visible">
    <ion-card-header style="height: auto;">
      <ion-card-title class="welcome">Manage your Profile</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="message">Effortlessly update your personal information and keep your profile current with just one click.</p>
    </ion-card-content>
    <ion-img src="../../../assets/Images/Black man.svg" class="black-man"></ion-img>
  </ion-card>
  <!--Second Slide-->
  <ion-card class="slide">
    <ion-card-header style="height: auto;">
      <ion-card-title class="welcome">Manage Payments</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="message">Easily handle payments and upload necessary documents directly through the app for a seamless experience.</p>
    </ion-card-content>
    <ion-img src="../../../assets/Images/dashboard2 1.svg" class="black-man"></ion-img>
  </ion-card>

  <!--Third Slide-->
  <ion-card class="slide">
    <ion-card-header style="height: auto;">
      <ion-card-title class="welcome">Stay updated</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="message">Keep track of the latest updates and important information about your outlet right at your fingertips.</p>
    </ion-card-content>
    <ion-img src="../../../assets/Images/impressed-points.svg" class="black-man"></ion-img>
  </ion-card>

   <!--Fourth Slide-->
   <ion-card class="slide">
    <ion-card-header style="height: auto;">
      <ion-card-title class="welcome">Inspector Center 4</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="message">Welcome to Inspector Center, your platform for ensuring safety in hospitality venues.</p>
    </ion-card-content>
    <ion-img src="../../../assets/Images/New background.svg" class="black-man"></ion-img>
  </ion-card>
</div>
  <!-- Dots -->
  <div class="dots-container">
    <span class="dot active"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>

  </div>
  
  

    <div class="dashboard-container">
      <p class="quick-action2">Quick actions</p>
        <ion-grid>
          <ion-row>
            <ion-col class="center-content" (click)="navigateToCorrespondence()">  
              <ion-img src="../../../assets/Images/device-message.svg" class="icon-image"></ion-img>
              <p class="col-header">Correspondence</p>
            </ion-col>
            <ion-col class="center-content" offset="0.2" (click)="navigateToUploadDocuments()">
              <ion-img src="../../../assets/Images/simcard-2.svg" class="icon-image"></ion-img>
              <p class="col-header">Upload Documents</p>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col class="center-content" (click)="navigateToOutlets()">
              <ion-img src="../../../assets/Images/folder-open.svg" class="icon-image"></ion-img>
              <p class="col-header">My Outlets</p>
            </ion-col>
            <ion-col class="center-content" offset="0.2" (click)="navigateToPayments()">   
              <ion-img src="../../../assets/Images/wallet-minus.svg" class="icon-image"></ion-img>
              <p class="col-header">Payments History</p>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col class="center-content" (click)="navigateToLocation()">
              <ion-img src="../../../assets/Images/location-tick.svg" class="icon-image"></ion-img>
              <p class="col-header">Update Outlet Location</p>
            </ion-col>
            
          </ion-row>
        </ion-grid>
     </div>

<app-outlet-menu-footer></app-outlet-menu-footer>


