<app-outlethaeder></app-outlethaeder>
  <div class="slider-container">
    <ion-card class="slide visible">
      <ion-card-header style="height: auto;">
        <ion-card-title class="welcome">Inspector Center</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="message">Welcome to Inspector Center, your platform for ensuring safety in hospitality venues.</p>
      </ion-card-content>
      <ion-img src="../../../assets/Images/OutletMan.svg" class="black-man"></ion-img>
    </ion-card>
    <!--Second Slide-->
    <ion-card class="slide">
      <ion-card-header style="height: auto;">
        <ion-card-title class="welcome">Inspector Center 2</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incid.</p>
      </ion-card-content>
      <ion-img src="../../../assets/Images/OutletMan.svg" class="black-man"></ion-img>
    </ion-card>

    <!--Third Slide-->
    <ion-card class="slide">
      <ion-card-header style="height: auto;">
        <ion-card-title class="welcome">Inspector Center 3</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incid.</p>
      </ion-card-content>
      <ion-img src="../../../assets/Images/OutletMan.svg" class="black-man"></ion-img>
    </ion-card>

     <!--Fourth Slide-->
     <ion-card class="slide">
      <ion-card-header style="height: auto;">
        <ion-card-title class="welcome">Inspector Center 4</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incid.</p>
      </ion-card-content>
      <ion-img src="../../../assets/Images/OutletMan.svg" class="black-man"></ion-img>
    </ion-card>
  </div>
  
  <!-- Dots -->
  <div class="dots-container">
    <span class="dot active"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>

  </div>
  
  

    <div class="dashboard-container">
      <p class="quick-action2">Quick actions</p>
        <ion-grid>
          <ion-row>
            <ion-col class="center-content" (click)="navigateToCorrespondence()">  
              <ion-img src="../../../assets/Images/device-message.svg" class="icon-image"></ion-img>
              <p class="col-header">Correspondence</p>
            </ion-col>
            <ion-col class="center-content" offset="0.2" (click)="navigateToUploadDocuments()">
              <ion-img src="../../../assets/Images/simcard-2.svg" class="icon-image"></ion-img>
              <p class="col-header">Upload Documents</p>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col class="center-content" (click)="navigateToOutlets()">
              <ion-img src="../../../assets/Images/folder-open.svg" class="icon-image"></ion-img>
              <p class="col-header">My Outlets</p>
            </ion-col>
            <ion-col class="center-content" offset="0.2" (click)="navigateToPayments()">   
              <ion-img src="../../../assets/Images/wallet-minus.svg" class="icon-image"></ion-img>
              <p class="col-header">Payments History</p>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col class="center-content" (click)="navigateToLocation()">
              <ion-img src="../../../assets/Images/location-tick.svg" class="icon-image"></ion-img>
              <p class="col-header">Update Outlet Location</p>
            </ion-col>
            
          </ion-row>
        </ion-grid>
     </div>

<app-outlet-menu-footer></app-outlet-menu-footer>


