
<ion-content  >
  <div class="header-container">
    <a [routerLink]="['/previous-page']">
      <img class="back-Arrow" src="assets/Images/Back Icon.svg">
    </a>
    <h1 class="header-text">View Uploads</h1>
  </div>

  <ion-card class="document-card">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <p class="document-name">ID Document</p>
        </ion-col>
        <ion-col class="end-align">
          <ion-img src="../../../assets/Images/Trashcan.svg" class="button-delete" id="buttonDelete"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
    

    <ion-grid class="date-time">
      <ion-row>
        <ion-col size="6">
          <div class="flex">
            <ion-img src="../../../assets/Images/File.svg" class="document-img"></ion-img>
            <p class="document-name2">150 KB</p>
          </div>
        </ion-col>
        <ion-col>
          <div class="flex">
          <ion-img src="../../../assets/Images/Document calendar.svg" class="document-img"></ion-img>
          <p class="document-name2">DD-MOM-YY</p>

          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
   
  </ion-card>
  
</ion-content>
<app-outlet-menu-footer></app-outlet-menu-footer>

