<ion-toolbar>
  <div class="header-img">
  <ion-title class="outlet-header">View Uploads</ion-title>
  <ion-img src="../../../assets/Images/Correspondence Icon.svg" class="img"></ion-img>
</div>
</ion-toolbar>
<ion-content [fullscreen]="true" >


  <ion-card class="document-card">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <p class="document-name">ID Document</p>
        </ion-col>
        <ion-col class="end-align">
          <ion-img src="../../../assets/Images/Trashcan.svg" class="button-delete" id="buttonDelete"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
    

    <ion-grid class="date-time">
      <ion-row>
        <ion-col size="6">
          <div class="flex">
            <ion-img src="../../../assets/Images/File.svg" class="document-img"></ion-img>
            <p class="document-name2">150 KB</p>
          </div>
        </ion-col>
        <ion-col>
          <div class="flex">
          <ion-img src="../../../assets/Images/Document calendar.svg" class="document-img"></ion-img>
          <p class="document-name2">DD-MOM-YY</p>

          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
   
  </ion-card>
  
</ion-content>


