<app-menu-header></app-menu-header>
<ion-content>
  <div class="header-container">
    <img src="assets/Images/Back Icon.svg" (click)="navigateToBack()" class="back-Arrow">
  </div>
  <div class="dashboard-container">
    <p class="quick-action">Complaints</p>
    
    <ion-item class="search-item">
      <ion-input name="search" placeholder="Search Complaints" class="search-input">
        <ion-icon slot="start" src="../../../assets/Images/search.svg" name="search-outline" class="search-icon"></ion-icon>
      </ion-input>
    </ion-item>
    
    <ng-container *ngFor="let user of collect">
      <div class="header-content">
        <ion-label class="label">{{ user.outletName }}</ion-label>
        <ion-img src="../../../assets/Images/dots.svg" class="vector" (click)="toggleDropdown($event, user)"></ion-img>
        <div class="dropdown-content" [class.show]="dropdownVisible[user]">
          <ion-item><a [routerLink]="['/view-complaint', user.referenceNumber]">View</a></ion-item>
          <ion-item><a [routerLink]="['/edit-complaint', user.referenceNumber]">Edit</a></ion-item>
        </div>
      </div>
        <p class="">Complaint: {{ user.descriptionOfComplaint }}</p>
        <p class="">Reference Number: {{ user.referenceNumber }}</p>
        <p class="">Date: {{ user.dateComplaintLogged }}</p>
        <p class="">Time: {{ user.dateComplaintLogged }}</p>
    </ng-container>
  </div>
</ion-content>
<app-menu-footer></app-menu-footer>

