.header-container {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-left: 30px;
    margin-bottom: 0px;
    font-family: 'Inter', sans-serif;

  }

  
  
  .header-text {
    text-align: center;
    font-size: 15px;
    padding-bottom: 18px;
    font-family: 'Inter', sans-serif;

  }

  ion-label
  {
    margin-left: 20px;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 1px;
    font-family: 'Inter', sans-serif;

  }

  p{
    margin-left: 20px;
    font-size: 11px;
    margin-top: 2px;
    font-family: 'Inter', sans-serif;

  }

  .content{
    font-family: 'Inter', sans-serif;
  }
  .card {
    font-size: 14px;
    font-weight: 400;
    color: #4A5568;
    font-family: 'Inter', sans-serif;
    padding: 15px;
}
.label
{
  font-weight: 500;
  font-size: 14px;
}
.info-time {
  color: rgba(154, 154, 154, 0.9); 
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 5px;
}
.quick-action{
    font-weight: 700;
    font-size: 20px;
    font-family: 'Inter', sans-serif; 
    color:#822B23;
    /*margin-top: 15px;*/
    /*margin-left: 6px;*/
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
}
.vector {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  
.search-item {
  position: relative;
}


.search-icon {
  position: absolute;
  top: 50%;
  left: -25px; 
  transform: translateY(-50%);
  font-size: 20px;
  color: #9A9A9A;
  padding-left: 5px;
  height: 20px;
  width: 20px;
}
.search-item {
  position: relative;
}

.search-input {
  padding-left: 30px !important;
  font-size: 15px !important;
  color: #2A2A2A;
  font-family: 'Inter',sans-serif;
  margin-bottom: 5%;
}

.search-input::placeholder {
  position: absolute;
  margin-left: 10px !important;
  font-size: 15px !important;
}
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #fff;
    min-width: 160px;
    border: 1px solid #000;
    border-radius: 4px;
    z-index: 1;
    margin-right: 10px;
    margin-top: 5%;
  }
  
  .dropdown-content ion-item {
    text-decoration: none;
    display: block;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    margin-bottom: 2px;
  }
  
  .dropdown-content ion-item:hover {
    font-weight: 500;
  }
  
  .dropdown-content.show {
    display: block;
  }
  .dropdown-content a{
    text-decoration: none;
    color: #000;
    font-weight: 14px;
    
  }

  .loader-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure it is above other content */
  }
  
  .loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
  
  .loading-text {
    margin-top: 20px; /* Space between loader and text */
    font-size: 1.5em;
    color: #3498db; /* Blue color to match the loader */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    z-index: 999; /* Below the loader but above the content */
    pointer-events: none; /* Allow clicks to pass through */
  }
  
  
  
  
  