<app-menu-header></app-menu-header>
<ion-content>
  <div class="dashboard-container">
    <p class="quick-action">Complaints</p>
    
    <ion-item class="search-item">
      <ion-input name="search" placeholder="Search Complaints" class="search-input">
        <ion-icon slot="start" src="../../../assets/Images/search.svg" name="search-outline" class="search-icon"></ion-icon>
      </ion-input>
    </ion-item>
    
    <ng-container *ngFor="let user of users">
      <div class="header-content">
        <ion-label class="label">{{ user }}</ion-label>
        <ion-img src="../../../assets/Images/dots.svg" class="vector" (click)="toggleDropdown($event, user)"></ion-img>
        <div class="dropdown-content" [class.show]="dropdownVisible[user]">
          <ion-item (click)="navigateToView()">View</ion-item>
          <ion-item (click)="navigateToEdit()">Edit</ion-item>
        </div>
      </div>
      <ng-container *ngFor="let complaint of userComplaints[user]">
        <p class="">Complaint: {{ complaint.complaint }}</p>
        <p class="">Reference Number: {{ complaint.referenceNumber }}</p>
        <p class="">Date: {{ complaint.date }}</p>
        <p class="">Time: {{ complaint.time }}</p>
      </ng-container>
    </ng-container>
  </div>
</ion-content>
<app-menu-footer></app-menu-footer>

