

<ion-toolbar class="toolbar-align">
  <div class="content-align">
    <p class="paraAlign">
      <img src="assets/Images/Profile.svg" class="profile-img">
      <a href="" class="profile-link">
        <span class="profile-name">Aduma Richards</span>
        <span class="profile-credit">Credit: R5000.00</span>
      </a>
    </p>

  <div class="new-things">
    <div class="flex">
      <ion-img src="../../../assets/Images/Location Header.svg"></ion-img>
      <span class="country">South Africa</span>
    </div>
  </div>
  </div>
</ion-toolbar>

