.center-parag
{
    text-align: center;
    color: rgb(35, 31, 31);
    padding-right: 100px;
    font-weight: bold;
    padding-top:20px;


}
.sub-para
{
    padding-bottom: 20px;
    color: rgb(35, 31, 31);
    font-size: 13px;
    margin-left: 50px;
    text-align: center;
}

.contain
{
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        width: 100%; 
        padding: 10px;
        box-sizing: border-box; 
        border: 2px solid #000; 
        padding: 20px; 
        border-radius: 10px; 
}