
  
  
    
    <hr> <!-- Horizontal line divider -->
    <div class="image-container">
        <a [routerLink]="['/dashboard']">
            <img src="assets/Images/discover.svg">
            <ion-label>Home</ion-label>
        </a>
        
        <a [routerLink]="['/upload-image']">
            <img src="assets/Images/camera.svg">
            <ion-label>Photos</ion-label>
        </a>
       
      
        
        <a [routerLink]="['/notifications']">
            <img src="assets/Images/notification-bing.svg">
            <ion-label>Notifications</ion-label>
        </a>
        

      
      <a (click)="toggleMenu()">
        <img src="assets/Images/MenuButton.svg">
        <ion-label>Menu</ion-label>
      </a>
      
    </div>
    

  
  
  <ion-content id="main">
   
  <ion-router-outlet></ion-router-outlet>
  
  
  
  