/* Global Styles (src/global.css or src/app/global.scss) */
.image-container {
  display: flex;
  justify-content: space-around; 
  align-items: center; 
}

.image-container a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  text-align: center;
  text-decoration: none; 
}

.image-container img {
  width: 30px; 
  height: 30px; 
  margin-bottom: 5px; 
}

.image-container ion-label {
  font-size: 14px; 
  color: #333; 
  text-decoration: none; 
}
hr {
  border: none; 
  border-bottom: 1px solid #ccc; 
  margin: 10px 0; 
}