.image-container {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    flex-wrap: wrap; 
    padding-bottom: 15px; 
    padding-top: 15px; 
    padding-left: 10px; 
    padding-right: 10px; 
    border-top: 1px solid #EDEDF2;
    box-shadow: none;
  }

  hr{
    color: black;
  }

