
  
  
    
    <hr> <!-- Horizontal line divider -->
    <div class="image-container">
        <a [routerLink]="['/dashboard']">
            <img src="assets/Images/discover.svg">
            <ion-label>Discover</ion-label>
        </a>
        
        <a [routerLink]="['/special-event']">
            <img src="assets/Images/Star 1.svg">
            <ion-label>Special events</ion-label>
        </a>
        <a [routerLink]="['/photos']">
          <img src="assets/Images/Star 1.svg">
          <ion-label>Photos</ion-label>
      </a>
      <a routerLink="">
        <img src="assets/Images/Star 1.svg">
        <ion-label>Settings</ion-label>
    </a>
        
        <a [routerLink]="['/notifications']">
            <img src="assets/Images/notification-bing.svg">
            <ion-label>Notifications</ion-label>
        </a>
        

      
      <a (click)="toggleMenu()">
        <img src="assets/Images/MenuButton.svg">
        <ion-label>Menu</ion-label>
      </a>
      
    </div>
    

  
  
  <ion-content id="main">
   
  <ion-router-outlet></ion-router-outlet>
  
  
  
  