
<hr> <!-- Horizontal line divider -->
<div class="image-container">
  
  <a routerLink="">
      <img src="assets/Images/discover.svg">
      <ion-label>Discover</ion-label>
  </a>
  
  <a routerLink="">
      <img src="assets/Images/save-2.svg">
      <ion-label>Save</ion-label>
  </a>
  
  <a routerLink="">
      <img src="assets/Images/notification-bing.svg">
      <ion-label>Notifications</ion-label>
  </a>
  
  <a routerLink="">
      <img src="assets/Images/MenuButton.svg">
      <ion-label>Menu</ion-label>
  </a>
  
</div>
