<ion-toolbar>
  <div class="header-img">
    <ion-title class="outlet-header">My Outlets</ion-title>
    <ion-img src="../../../assets/Images/Correspondence Icon.svg" class="img"></ion-img>
  </div>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let outlet of outlets">
    <ion-grid class="top">
      <ion-row>
        <ion-col>
          <ion-img [src]="outlet.imgSrc"></ion-img>
        </ion-col>
        <ion-col size="6">
          <!--Header-->
          <span class="detail-header font-weight">{{ outlet.header }}</span>
          <br>
          <!--Details-->
          <span class="info-time" [innerHTML]="outlet.details"></span>
          <br>
        </ion-col>
        <ion-col class="centered-col">
          <ion-img [src]="outlet.iconSrc"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-button [routerLink]="['/view-outlet']"class="buttonClass">
      View details
    </ion-button>
  </ion-card>
</ion-content>
