.image-container {
    padding: 20px; /* Adjust as needed */
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .close-button {
    --padding-end: -8px; /* Adjust as needed */
  }
  
  .close-icon {
    font-size: 24px; /* Adjust the size as needed */
    --color: #832424; /* Adjust the color as needed */
  }
  