.image-container {
    padding: 20px; /* Adjust as needed */
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .close-button {
    --padding-end: -8px; /* Adjust as needed */
  }
  
  .close-icon {
    font-size: 24px; /* Adjust the size as needed */
    border-radius: 50%;
    background-color: rgb(199, 79, 79);
    padding: 5px;
    margin-right: 10px;
  }
  