<app-menu-header ></app-menu-header>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-clip-rotate-pulse">
  <p style="color:white;font-size: 20px;text-align: center;">Please wait...</p>
</ngx-spinner>
<ion-content>
  
  
  <div class="dashboard-container" >
    <ion-grid>
      <p class="quick-action">My Tasks</p>
      <p class="new">New</p>

      <div *ngFor="let task of collect" (click)="navigateToTask(task.action, task.caseId)">
        <div *ngIf="task.status!=='Complete'">
        <ion-row>
          <ion-col class="center-content" offset="0.2">   
            <p class="col-header">{{task.outletName}}</p>
            <div class="info">
              <span>{{task.status}}</span>
              <br>
              <span>CaseID: {{task.caseId}}</span>
            </div>
            <div class="info-time">
              <span>Due: {{task.dueDate}}</span>
              <br>
              <span>Action: {{task.action}}</span>
            </div>
          </ion-col>
        </ion-row>
        </div>
      </div>
    </ion-grid>
  </div>
</ion-content>
  <app-menu-footer ></app-menu-footer>

