


 <app-menu-header  *ngIf="!loading"></app-menu-header>
<div *ngIf="loading" class="loader-container">
  <div class="loader"></div>
  <div class="loading-text">Loading...</div>
</div>
<ion-content >

  <div class="dashboard-container"  *ngIf="!loading">
    <ion-grid>
      <p class="quick-action">My Tasks</p>
      <p class="new">New</p>

      <div *ngFor="let task of collect">
      <ion-row>
        
        <ion-col class="center-content" offset="0.2">   
          <p class="col-header">{{task.outletName}} </p>
          <div class="info">
            <span>{{task.status}}</span>
            <br>
            <span>CaseID: {{task.caseId}}</span>
          </div>
          <div class="info-time">
            <span>Due: {{task.dueDate}}</span>
            <br>
            <span>Time: {{task.dueDate }}</span>
          </div>
        </ion-col>
      
      </ion-row>
    </div>
    </ion-grid>
   
  </div>
</ion-content>
  <app-menu-footer *ngIf="!loading"></app-menu-footer>

