


 <app-menu-header></app-menu-header>

<ion-content >
  <div class="header-container">
    <img src="assets/Images/Back Icon.svg" (click)="navigateToBack()" class="back-Arrow">
  </div>
  <div class="dashboard-container">
    <ion-grid>
      <p class="quick-action">My Tasks</p>
      <p class="new">New</p>
      <ion-row>
        <ion-col class="center-content" offset="0.2">   
          <p class="col-header">Kwa Coca Tarven </p>
          <div class="info">
            <span>Complete Reports</span>
            <br>
            <span>East London</span>
          </div>
          <div class="info-time">
            <span>Due: 17 May 2024</span>
            <br>
            <span>11:30 AM - 12:30 PM</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col class="center-content" offset="0.2">   
          <p class="col-header">Poca's Tarven</p>
          <div class="info">
            <span>Complete Reports</span>
            <br>
            <span>East London</span>
          </div>
          <div class="info-time">
            <span>Due: 6 July 2024</span>
            <br>
            <span>11:30 AM - 12:30 PM</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col class="center-content" offset="0.2">   
          <p class="col-header">VIVAS Tarven</p>
          <div class="info">
            <span>Complete Reports</span>
            <br>
            <span>King Williams Town</span>
          </div>
          <div class="info-time">
            <span>Due: 19 June 2024</span>
            <br>
            <span>11:30 AM - 12:30 PM</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col class="center-content" offset="0.2">   
          <p class="col-header">SAKHIS Tavern</p>
          <div class="info">
            <span>Complete Reports</span>
            <br>
            <span>East London</span>
          </div>
          <div class="info-time">
            <span>Due: 7 May 2024</span>
            <br>
            <span>10:30 AM - 11:30 PM</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

   
  </div>
</ion-content>
  <app-menu-footer></app-menu-footer>

