ion-card{
    --background: #822B23;
    --border-radius: 2px;
    border-radius: 2px;
    box-shadow: none;
    font-family: 'Inter', sans-serif;
    border: 2px solid #822B23;
}

.quick-action{
    font-weight: 700;
    font-size: 20px;
    font-family: 'Inter', sans-serif; 
    color:#822B23;
    margin-top: 15px;
    margin-left: 6px;
   
    
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-left: 3%;
  font-family: 'Inter', sans-serif;
}

ion-row
{
  margin-bottom: 2%;
}

.dashboard-container{
  padding: 10px;

}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-family: 'Inter', sans-serif;
}


ion-col {
    position: relative; 
    border: 1px solid #822B23;
    border-radius: 2px;
    overflow: hidden;
    padding-left: 10px; 
}

ion-col::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: #822B23;
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%); 
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left; 
    height: 100%; 
  }
  
  .icon-image {
    width: 25px; 
    height: 25px; 
    margin-top: 15px;
  }
  
  .col-header {
    margin-top: 5px; 
    font-size: 18px; 
    color: #000; 
    font-weight: 700;
    margin-bottom: 5px;
  }

  .info
  {
    color: #585A66;
    font-size: 15px;
    font-weight: 400;
  }

  .new{
    margin-left: 6px;
    color: #2E3A59;
    font-weight: 600;
    font-size: 17px;
  }
  .loader-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure it is above other content */
  }
  
  .loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
  
  .loading-text {
    margin-top: 20px; /* Space between loader and text */
    font-size: 1.5em;
    color: #3498db; /* Blue color to match the loader */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    z-index: 999; /* Below the loader but above the content */
    pointer-events: none; /* Allow clicks to pass through */
  }
  
  
  