.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-family: 'Inter', sans-serif;
}

.back-Arrow {
  width: 50px;
  height: 50px;
  margin-top: 20px;
  padding-left: 10px;
 
}

.header-text {
  flex-grow: 1;
  text-align: center;
  font-size: 20px;
  padding-right: 20px;
}




  .main-img
  {
    margin-top: 1%;
    margin-bottom: 1%;
   
  }

  .paragraph-container {
    border: 2px solid #000; /* Black border */
    background-color: #f0f0f0; /* Light grey background */
    padding: 10px; /* Padding inside the container */
    border-radius: 5px; /* Optional: rounded corners */
  }
  
  .inline-paragraph {
    display: inline-block; 
    vertical-align: top; 
  }
  
  .inline-paragraph:last-child {
    margin-right: 0; /* Remove margin from the last paragraph */
  }

  .inline-paragraph
  {
    display: inline-block;
    padding-right: 1%;
    background-color: #F7F7FE;
    font-size: 10px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 0%;
    border-radius: 2px;
    color: #000000;
    font-family: 'Inter', sans-serif;
    
  }

 .img-location
 {
    width: 5%;  
    height: auto;  

 }

 .header{
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color:#000;
  margin-bottom:-1%;
  
 }

 .location-paraPadding
 {
    padding-left: 2%;
    color: #8B939F;
    font-size: 14px;
    
 }

 .paraPadding
 {
    font-size: 14px;
    font-weight: 500;
    color: #000;
 }
 .paraPadding2
 {
    padding-top: 0%;
    color: #8B939F;
    font-size: 13px;
 }

 .img-spacing
 {
    border-radius: 19px;
    width: auto;
    height: auto;
 }

.card{
 
  
 
 // height: 300px;
  overflow-y: auto;
  position: relative;
}
.first{
  width: 100%;
}

