<ion-content>
  <div class="header-container">
      <a [routerLink]="" class="back-Arrow"><img src="assets/Images/Back Icon.svg"></a>
      <h1 class="header-text">View Outlet</h1>
    </div>

    <div class="card">
      <img class="first" src="assets/Images/kwa coca.jpeg">
      <div>
        <p class="inline-paragraph">Active</p>
        <p class="inline-paragraph">On and Off Consumption</p>
      </div>

      <h1 class="header">G-Spot</h1>

      <div class="flex">
        <img src="assets/Images/location.svg" class="img-location">
        <p class="location-paraPadding">East london</p>
        </div>
        <p class="paraPadding">On and Off Consumption</p>

        <p class="paraPadding2">G. Spot Tavern, Erf 1191, Caner of Julies. REF5R807045090084. Ward 7 Inxuba Yethemba.</p>
        <p class="paraPadding">Gallery</p>
    
        <!--
        <img src="assets/Images/PicsArt_05-14-05.58 2.svg" class="img-spacing">
        <img src="assets/Images/PicsArt_05-14-05.58 2.svg" class="img-spacing">
        <img src="assets/Images/PicsArt_05-14-05.58 2.svg" class="img-spacing">
        -->
    </div>
</ion-content>
<app-menu-footer></app-menu-footer>
