.header-container {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-left: 30px;
  margin-bottom: 0px;
  font-family: 'Inter', sans-serif;

}

.header-text {
  //flex: 1; /* This makes the text take up the remaining space */
  text-align: center;
  padding-left: 60px;
  font-size: 15px;
  padding-bottom: 18px;
  padding-left: 100px;
}
.back-Arrow{
  margin-left: -10px;
}

.header-text {
  text-align: center;
  font-size: 15px;
  padding-bottom: 18px;
  font-family: 'Inter', sans-serif;

  margin-bottom: 50px;
}

.header-text {
  //flex: 1; /* This makes the text take up the remaining space */
  text-align: center;
  padding-left: 60px;
  font-size: 15px;
  padding-bottom: 18px;
  padding-left: 100px;
}
.back-Arrow{
  margin-left: -10px;
}

  .main-img
  {
    margin-top: 1%;
    margin-bottom: 1%;
   
  }

  .paragraph-container {
    border: 2px solid #000; /* Black border */
    background-color: #f0f0f0; /* Light grey background */
    padding: 10px; /* Padding inside the container */
    border-radius: 5px; /* Optional: rounded corners */
  }
  
  .inline-paragraph {
    display: inline-block; 
    vertical-align: top; 
  }
  
  .inline-paragraph:last-child {
    margin-right: 0; /* Remove margin from the last paragraph */
  }

  .inline-paragraph
  {
    display: inline-block;
    padding-right: 1%;
    background-color: #F7F7FE;
    font-size: 10px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 0%;
    border-radius: 2px;
    color: #000000;
    font-family: 'Inter', sans-serif;
    
  }

 .img-location
 {
    width: 5%;  
    height: auto;  

 }

 .header{
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color:#000;
  margin-bottom:-1%;
  
 }

 .location-paraPadding
 {
    padding-left: 2%;
    color: #8B939F;
    font-size: 14px;
    
 }

 .paraPadding
 {
    font-size: 14px;
    font-weight: 500;
    color: #000;
 }
 .paraPadding2
 {
    padding-top: 0%;
    color: #8B939F;
    font-size: 13px;
 }

 .img-spacing
 {
    border-radius: 19px;
    width: auto;
    height: auto;
 }



