
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-clip-rotate-pulse">
  <p style="color:white;font-size: 20px;text-align: center;">Please wait...</p>
</ngx-spinner>
<app-menu-header ></app-menu-header>

<ion-content>
  <div class="dashboard-container">

    <!-- Spinner Section -->

    <!-- Main Content Section -->

    <p class="quick-action" >Navigate to Outlet</p>

    <ion-item class="search-item" >
      <ion-input [(ngModel)]="searchQuery" placeholder="Search Outlets" class="search-input">
        <ion-icon slot="start" src="../../../assets/Images/search.svg" name="search-outline" class="search-icon"></ion-icon>
      </ion-input>
    </ion-item>

    <div >
      <ion-card *ngFor="let outlet of filteredOutlets()">
        <ion-grid class="top">
          <ion-row>
            <ion-col>
              <ion-img [src]="outlet.imgSrc"></ion-img>
            </ion-col>
            <ion-col size="6">
              <!--Header-->
              <span class="detail-header font-weight">{{ outlet.header }}</span>
              <br>
              <!--Details-->
              <span class="info-time" [innerHTML]="outlet.details"></span>
              <br>
            </ion-col>
            <ion-col class="centered-col">
              <ion-img [src]="outlet.iconSrc"></ion-img>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-button  [routerLink]="['/location', -32.951378, 27.928042]" class="buttonClass">
          Navigate to Location
        </ion-button>
      </ion-card>
    </div>
  </div>
</ion-content>
<app-menu-footer ></app-menu-footer>
