
<app-menu-header></app-menu-header>
<ion-content>
  <div class="dashboard-container">
      <p class="quick-action">Navigate to Outlet</p>

      <ion-item class="search-item">
        <ion-input name="search" placeholder="Search Outlets" class="search-input">
          <ion-icon slot="start" src="../../../assets/Images/search.svg" name="search-outline" class="search-icon"></ion-icon>
        </ion-input>
      </ion-item>
    
      <ion-card>
        <span class="outlet">Outlets</span>
        <ion-grid class="top">
          <ion-row>
            <ion-col>
              <ion-img src="../../../assets/Images/PicsArt_05-14-05.58 2.svg"></ion-img>
            </ion-col>
            <ion-col size="6">
              <!--Header-->
              <span class="detail-header font-weight">G-Spot</span>
              <br>
              <!--Details-->
              <span class="info-time">ECP08389/90424/OO <br>Off Consumption</span>
              <br>
            </ion-col>
            <ion-col class="centered-col">
              <ion-img src="../../../assets/Images/Group 88.svg"></ion-img>
            </ion-col>
          </ion-row>
        </ion-grid>
      
        <ion-button class="buttonClass">
          Navigate to Location
        </ion-button>

        <ion-grid class="top">
          <ion-row>
            <ion-col>
              <ion-img src="../../../assets/Images/PicsArt_05-14-05.58 2.svg"></ion-img>
            </ion-col>
            <ion-col size="6">
              <!--Header-->
              <span class="detail-header font-weight">G-Spot</span>
              <br>
              <!--Details-->
              <span class="info-time">ECP08389/90424/OO <br>Off Consumption</span>
              <br>
            </ion-col>
            <ion-col class="centered-col">
              <ion-img src="../../../assets/Images/Group 88.svg"></ion-img>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-button class="buttonClass">
          Navigate to Location
        </ion-button>
</ion-card>
  </div>
</ion-content>
<app-menu-footer></app-menu-footer>
