

<ion-content>
<div>

  <div class="header-container">
    <a><img src="assets/Images/Back Icon.svg" class="back-Arrow" routerLink="/update-gis"></a>
    <h1 class="header-text" style="color: black;">Update gis</h1>
  </div>

  <ion-label >Latitude of Outlet (South)</ion-label>
    <ion-item>
      <ion-input class="custom-input" type="text" placeholder="Latitude"[(ngModel)]="latitude"></ion-input>
    </ion-item>
    <ion-label>Longitude of Outlet (East)</ion-label>
    <ion-item>
      <ion-input class="custom-input" type="text" placeholder="Longitude" [(ngModel)]="longitude"></ion-input>
    </ion-item>

    <p (click)="getCurrentPosition()" class="phone"><a>Use phone GPS</a></p>
    
  <span class="inspection-report">Update GIS report</span>
  <ion-card class="upload" (click)="triggerFileInput()">
    <ion-img src="../../../assets/Images/uploads.svg"></ion-img>
    <span>Click to upload GIS Report</span>
    <span>PDF</span>
    <input type="file" #fileInput (change)="onFileSelected($event)" accept=".docx, .pdf" style="display: none;">
  </ion-card>

  <div *ngFor="let file of uploadedFiles; let i = index">
    <ion-card class="upload2">
      <div class="header-content2">
        <ion-card-title>{{ file.name }}</ion-card-title>
        <ion-img src="../../../assets/Images/Trash.svg" (click)="presentAlertConfirm(i)" class=""></ion-img>
      </div>
      <span>{{ (file.size / 1024).toFixed(2) }} KB</span>
    </ion-card>
  </div>

  <ion-button class="buttonClass">
    <img slot="start" class="image"src="../../../assets/Images/Icon (2).svg" alt="Image Alt Text">
    Save
  </ion-button>



</div>
</ion-content>


