<ion-app>
  <!-- Global Menu -->
  <ion-menu menuId="main-menu" contentId="main-content"swipeGesture="false">
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false">
          <ion-item [routerLink]="['/dashboard']" routerLinkActive="active-item" class="home">
            <ion-label>Home</ion-label>
          </ion-item>
        </ion-menu-toggle>
       
        <!-- Other menu items -->
        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/special-event" routerLinkActive="active-item">
            <ion-label>Special event</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/upload-image" routerLinkActive="active-item">
            <ion-label>Photos</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/addresses" routerLinkActive="active-item">
            <ion-label>Addresses</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="">
            <ion-label>Settings</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/signin" routerLinkActive="active-item">
            <ion-label>Sign Out</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Another Menu for outlet app -->
  <ion-menu menuId="another-menu" contentId="main-content" swipeGesture="false">
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/outlet-dashboard" routerLinkActive="active-item"class="home">
            <ion-label>Home</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/account-settings" routerLinkActive="active-item">
            <ion-label>Support</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/outlet-settings" routerLinkActive="active-item">
            <ion-label>Settings</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/help" routerLinkActive="active-item">
            <ion-label>Sign Out</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Main Content Area -->
  <ion-router-outlet id="main-content"></ion-router-outlet>

  
</ion-app>
