


.email-center{
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;

  
}

.p-inspection{
  box-shadow: none;
  margin-top: -5%;
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.centered{
  display: flex;
   flex-direction: column; 
   align-items: center; 
   justify-content: flex-start;
    height: 100vh;
     padding-top: 20vh;
}
.image{
width: 150px;
height: 150px;

}




