<ion-content>
  <ion-header>
    <div class="header-container">
      <a [routerLink]=""><img src="assets/Images/thank you tick.svg"></a>
      <h2 class="header-text">Thank you!<br><h1>Inspection Complete</h1></h2>
    </div>
  </ion-header>

  <ion-item>
    <div class="inline-paragraph">
      <p>Lorem ipsum is a placeholder text commonly used to demostrate the visual form.</p>
    </div>
  </ion-item>
  <ion-item>
    <div class="paragraph">
      <p>Time: 17/05/2024 12:45</p>
    </div>
  </ion-item>
  <ion-item>
    <div class="paragraph2">
      <p>Outlet</p>
    </div>
  </ion-item>

  <ion-item>
    <div class="para-container">
      <p><b>G-Spot</b></p>
      <p>On and off consumption</p>
    </div>
  </ion-item>

 
    <div>
      <ion-button class="buttonClass1">Back to inspection</ion-button>
    </div>
  


</ion-content>