
.emailOTP{
    font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: center;
justify-content: center;
align-items: center;
display: flex;
width: 87%;
height: 42px;
top: -34px;
left: 9000000px;
gap: 0px;
opacity: 0px;
container: 10px;
padding-left: 10%;
}
.welcome{
    color: #822B23;
    font-size: 26px;
    font-weight: 700;
   margin-left: 15px;
   margin-bottom: -5px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'Inter', sans-serif; 
   padding-right: 5%;
}
.signin{
    color: #000;
    font-size: 20px;
    font-weight: 700;
    margin-right: 50%;
    margin-left: 15px;
    font-family: 'Inter', sans-serif; 
}

p a {
    color: #822B23;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    position: relative; 
    top: -15px; 
}
.container {
    text-align: center;
  }
  
  .otp-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 50px;
    padding-right: 50px;
  }
  
  .otp-box {
    width: 50px; /* Set a fixed width for each input box */
    height: 50px; /* Set a fixed height for each input box */
    text-align: center; /* Center the text inside the input box */
    font-size: 24px; /* Increase font size for better readability */
  }

  .custom-toast {
    /* Customize as needed */
    position: fixed;
   
  
  }
  .alert {
    position: fixed;
    bottom: 22%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-weight: bold;
  }
  
  .danger {
    background-color: red;
  }
  
  .success {
    background-color: green;
  }
  
/* For the cursor color */
::ng-deep ion-input input {
  caret-color: #822B23 !important;
}

/* For the active state color */
::ng-deep ion-input input:focus {
  color: black!important;
  --color: black!important;
  --highlight-color-focused: black!important; /* Added for increased specificity */
}

/* For the valid state color */
::ng-deep ion-input.input-has-value.ion-pristine:not(.ion-invalid) {
  --highlight-color-valid: #822B23 !important;
}








.alert {
  padding: 10px;
  //margin-top: 5%;
  border-radius: 4px;
  width: 88%; 
  
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
