<ion-content>
  <div class="container">
    <p class="welcome">Verification</p>
    <p class="emailOTP">Please, enter the OTP code sent to adum ***&#64;** com</p>


    <div class="otp-inputs">
      <ion-input #otpInput [(ngModel)]="otp[0]" type="text" maxlength="1" class="otp-box" (keyup)="moveFocus($event, 0)"></ion-input>
      <ion-input #otpInput [(ngModel)]="otp[1]" type="text" maxlength="1" class="otp-box" (keyup)="moveFocus($event, 1)"></ion-input>
      <ion-input #otpInput [(ngModel)]="otp[2]" type="text" maxlength="1" class="otp-box" (keyup)="moveFocus($event, 2)"></ion-input>
      <ion-input #otpInput [(ngModel)]="otp[3]" type="text" maxlength="1" class="otp-box" (keyup)="moveFocus($event, 3)"></ion-input>
     
    </div>
   
    <ion-button class="buttonClass" (click)="verify()">Verify</ion-button>
  </div>
</ion-content>
