<ion-content>
  <div class="container">
    <p class="welcome">Verification</p>
    <p class="emailOTP">Please, enter the OTP code sent to adum ***&#64;** com</p>

    <div class="otp-inputs">
      
       
        <ion-input #otp1 maxlength="1" class="otp-box"(keyup)="otpController($event, 0)"></ion-input>
        <ion-input #otp2 maxlength="1" class="otp-box" (keyup)="otpController($event, 1)"></ion-input>
        <ion-input #otp3 maxlength="1" class="otp-box"(keyup)="otpController($event, 2)"></ion-input>
        <ion-input #otp4 maxlength="1" class="otp-box"(keyup)="otpController($event, 3)"></ion-input>
    
    
    </div>
    
   
    <ion-button class="buttonClass" (click)="checkOTP()">Verify</ion-button>
  </div>
</ion-content>