.alignment
{
    text-align: right;
    text-decoration: none;
    padding-right: 20px;
    font-size: 14px;
    text-decoration: none;
    
    
}

a{
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.paraAlign
{
    padding-top: 20px;
    text-decoration: none;
}

