.alignment
{
    text-align: right;
    text-decoration: none;
    padding-right: 20px;
    font-size: 14px;
    text-decoration: none; 
}

a{
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.paraAlign
{
    padding-top: 20px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color:#9A9A9A;
}

.paraAlign {
    margin: 0;
    display: flex;
    align-items: center;
  }
  
  .profile-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    font-size: 10px;
   
  }
  
  .profile-img {
    width: 40px;  /* Adjust the size as needed */
    height: 40px; /* Adjust the size as needed */
    margin-left: 8px; /* Space between name and image */
    border-radius: 50%;
    margin-bottom: 5px;
  }
  .flex {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
  }

  .back-Arrow{
    width: 40px; 
    height: 40px;
    margin-top:25px;
    margin-left: 45%;
  }
  .right-align {
    margin-left: auto; 
  }

  .username-margin {
    margin-right: 20px;
    margin-top: 5px;
  }
  