.quick-action{
    font-weight: 700;
    font-size: 20px;
    font-family: 'Inter', sans-serif; 
    color:#822B23;
    margin-top: 15px;
    margin-left: 6px;
}
.dashboard-container{
    padding: 10px;
    margin-top: 10px;
}
.outlet{
    color:#2A2A2A;
    font-weight: 500;
}
ion-card{
    --border-radius: 2px;
    border-radius: 2px;
    box-shadow: none;
    font-family: 'Inter', sans-serif;
}