.quick-action{
    font-weight: 700;
    font-size: 20px;
    font-family: 'Inter', sans-serif; 
    color:#822B23;
    margin-top: 15px;
    margin-left: 6px;
}
.dashboard-container{
    padding: 10px;
    margin-top: -13px;
}
.outlet{
    color:#2A2A2A;
    font-weight: 500;
}
ion-card{
    --border-radius: 2px;
    border-radius: 2px;
    box-shadow: none;
    font-family: 'Inter', sans-serif;
}
.buttonClass {
    --background: #822B23;
    --color: #fff;
    width: calc(100%);
    margin-top: 15px;
    height: 35px;
    font-size: 14px;
    font-weight: 600;
    margin-left: 4px;
    border: 1px solid #822B23;
    border-radius: 2px; 
    text-transform: none; 
    font-family: 'Inter', sans-serif;
    margin-top: 5px;
  }
  ion-input {
    margin-top: 10px;
    background-color: #ffffff;
    border: 1px solid #858585;
    border-radius: 2px;
    height: 50px; 
    width: calc(100%) !important; /* Account for padding of the container */
    --highlight-background: transparent;
    font-family: 'Inter', sans-serif; 
    padding-right: 15px !important;
  
  }
  .top{
    margin-top: 15px;
  }
  .detail-header{
    color:#2A2A2A;
    font-size: 18px !important;
    margin-bottom: 10px;
  }
  .centered-col {
    margin-top: 35px;
  }
  .info-time {
    color: rgba(154, 154, 154, 0.9); 
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 15px;
  }
  .search-item {
    position: relative;
  }

  
  .search-icon {
    position: absolute;
    top: 50%;
    left: -25px; 
    transform: translateY(-50%);
    font-size: 20px;
    color: #9A9A9A;
    padding-left: 5px;
    height: 20px;
    width: 20px;
  }
  .search-item {
    position: relative;
  }
  
  .search-input {
    padding-left: 30px !important;
    font-size: 15px !important;
    color: #2A2A2A;
    
  }
  
  .search-input::placeholder {
    position: absolute;
    margin-left: 10px !important;
    font-size: 15px !important;
    
  }
  

  
  
  
  
  
  