

<ion-content>
  <div class="dashboard-container">
      <p class="quick-action">Update GIS</p>
      <ion-item>
        <ion-input name="search"  placeholder="Search Outlets"></ion-input>
      </ion-item>
      <span class="outlet">Outlets</span>

      <ion-card>
  <ion-card-header>
    <ion-card-title>Card Title</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>
</ion-card>
  </div>
</ion-content>

