.header-container {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-left: 30px;
    margin-bottom: 50px;
    font-family: 'Inter';
  }
  
  .header-text {
    //flex: 1; /* This makes the text take up the remaining space */
    text-align: center;
    padding-left: 35px;
    font-size: 120%;
    padding-bottom: 18px;
    padding-right: 40px;
    font-family: 'Inter';
  }

  p{
    //margin-left: 30px;
    
    margin-top: 10px;
    margin-bottom: 1px;
    padding-bottom: 1px;
    font-family: 'Inter';
    
  }

  .bordered-paragraph {
    border: 0.5px solid gray; /* Adjust border style and color as needed */
    padding: 10px; /* Optional: Add padding to make the border visible */
    margin-left: 12%;
    width: 319px;
    border-radius: 3px;
    margin-bottom: 120%;
    font-size:70%;
  }
  .p1
  {
    
    font-family: 'Inter';
  }

  .p2
  {
   
    font-weight: bold;
    font-family: 'Inter';
  }

  .button-container {
    display: flex;
    justify-content: center; /* Aligns the button horizontally to the center */
  }
