<ion-content>

  <ion-header>
    <div class="header-container">
      <a [routerLink]=""><img src="assets/Images/Back Icon.svg"></a>
      <h1 class="header-text">Name under which business is to be conducted</h1>
    </div>
  </ion-header>

  <div class="bordered-paragraph">
    <p class="p1">Current Outlet name</p>
    <p class="p2">Entabeni</p>
  </div>

  <div class="button-container">
    <ion-button class="buttonClass">Save</ion-button>
  </div>


</ion-content>
<app-menu-footer></app-menu-footer>