  <ion-toolbar>
    <div class="header-img">
    <ion-title class="outlet-header">Correspondence</ion-title>
    <ion-img src="../../../assets/Images/Correspondence Icon.svg" class="img"></ion-img>
  </div>
  </ion-toolbar>
<ion-content [fullscreen]="true">

  <ion-card class="card">
    <span class="correspondence-paragraph" routerLink="/view-details">You have a payment pending...</span>
    <br>
    <span class="time-frame">3 weeks</span>
  </ion-card>

  <ion-card class="card">
    <span class="correspondence-paragraph" routerLink="/view-details">You still have to upload your documents...</span>
    <br>
    <span class="time-frame">3 weeks</span>
  </ion-card>

</ion-content>
