.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-family: 'Inter', sans-serif;
  }
  
  .back-Arrow {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    padding-left: 10px;
  }
  
  .header-text {
    flex-grow: 1;
    text-align: center;
    font-size: 20px;
    padding-right: 10%;
  }
  
  .custom-input {
    min-width: 100%;
    margin-bottom: 8px;
  }
  
  ion-input, ion-select {
    font-size: 11px;
    --padding-start: 10px !important;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    width: 100%;
  }
  
  
  ion-select{
    margin-top: 10px;
    background-color: #ffffff;
    border: 1px solid #858585;
    border-radius: 2px;
    height: 50px; 
    width: calc(100%) !important; /* Account for padding of the container */
    --highlight-background: transparent;
    font-family: 'Inter', sans-serif; 
    padding-right: 15px !important;
  }
  
  ion-label {
    margin-left: 15px !important;
    font-size: 12px !important;
    white-space: normal; 
    display: inline-block; 
}

.buttonClass2{
  background-color: #CFAA35;
  border-radius: 30px;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 14px !important;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  float: inline-end;
  margin-right: 3%;
  height: 35px;
  width: 75px;
}

.clearButton{
  background-color: #822B23 !important;
  border-radius: 30px;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 14px !important;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  float: inline-end;
  margin-right: 3%;
  height: 35px;
  width: 75px;
}
.signature-canvas {
  height: 100px; 
  width: calc(100%) !important; 
 
}

