<ion-content>
  <ion-header>
    <div class="header-container">
      <a [routerLink]=""><img  class="back-Arrow"src="assets/Images/Back Icon.svg"></a>
      <h1 class="header-text">Photos</h1>
    </div>
  </ion-header>
  <span class="inspection-report">Upload Photos</span>
  
   <ion-card class="upload" (click)="triggerFileInput()">
  <ion-img src="../../../assets/Images/uploads.svg"></ion-img>
  <span>Click to upload</span>
  <p>DOCX or PDF, SVG, PNG, JPG or GIF (max. 800x400px)</p>
  <input type="file" #fileInput (change)="onFileSelected($event)" accept=".docx, .pdf, .svg, .png, .jpg, .gif">
</ion-card>


  
  <ion-button class="buttonClass">
    <img slot="start" class="image"src="../../../assets/Images/Icon (2).svg" alt="Image Alt Text">
    Save
  </ion-button>
  
  
</ion-content>
<app-menu-footer></app-menu-footer>