<ion-content>
  <div class="header-container">
    <img src="assets/Images/Back Icon.svg" class="back-Arrow" (click)="navigateToBack()">
    <h1 class="header-text">Edit Complaint</h1>
  </div>

  <div>
    <ion-label >Reference Number</ion-label>
    <ion-item>
      <ion-input class="custom-input" type="text" placeholder="Reference Number"[(ngModel)]="reference"></ion-input>
    </ion-item>
    <ion-label>Description</ion-label>
    <ion-item>
      <ion-input class="custom-input" type="text" placeholder="Description" [(ngModel)]="description"></ion-input>
    </ion-item>
    <ion-label >Offending Outlet</ion-label>
    <ion-item>
      <ion-input class="custom-input" type="text" placeholder="Offending Outlet" [(ngModel)]="offOutlet"></ion-input>
    </ion-item>
    <ion-label >Complaint Status</ion-label>
    <ion-item>
      <ion-select class="custom-input custom-select" placeholder="Complaint Status" [(ngModel)]="status">
        <ion-select-option value="inspector1">Open</ion-select-option>
        <ion-select-option value="inspector2">In Progress</ion-select-option>
        <ion-select-option value="inspector3">Cancelled</ion-select-option>
        <ion-select-option value="inspector4">Closed</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-label >ECP Number</ion-label>
    <ion-item>
      <ion-input class="custom-input" type="text" placeholder="ECP Number" [(ngModel)]="ecpNo"></ion-input>
    </ion-item>
    <ion-label >Street Address</ion-label>
    <ion-item>
      <ion-input class="custom-input" type="text" placeholder="Street Address" [(ngModel)]="strAddress"></ion-input>
    </ion-item>
    <ion-label >District Municipality</ion-label>
    <ion-item>
      <ion-input class="custom-input" type="text" placeholder="District Municipality"[(ngModel)]="districMunicipalty"></ion-input>
    </ion-item>
    <ion-label >Local Municipality</ion-label>

    <ion-item>
      <ion-input class="custom-input" type="text" placeholder="Local Municipality" [(ngModel)]="localMunicipality"></ion-input>
    </ion-item>
    <ion-label >Town</ion-label>

    <ion-item>
      <ion-input class="custom-input" type="text" placeholder="Town" [(ngModel)]="town"></ion-input>
    </ion-item>
    <ion-label >Relevant Inspector</ion-label>

    <ion-item >
      <ion-select class="custom-input custom-select" placeholder="Relevant Inspector" [(ngModel)]="selectedInspector">
        <ion-select-option *ngFor="let inspector of inspectors" value={{inspector.userId}}>{{inspector.username}}</ion-select-option>
        
        <!-- Add more options as needed -->
      </ion-select>
    </ion-item>
    <ion-label >Comment</ion-label>

    <ion-item>
      <ion-input class="custom-input" type="text" placeholder="Comment" [(ngModel)]="comment"></ion-input>
    </ion-item>
    <ion-label >Comment history</ion-label>

    <ion-item>
      <ion-input class="custom-input" type="text" placeholder="Comment history" [(ngModel)]="history"></ion-input>
    </ion-item>

    <div class="button-container">
      <ion-button (click)="updateComplaint()" class="buttonClass"  >
        <img  slot="start" class="image"  src="../../../assets/Images/Icon (2).svg" alt="Image Alt Text">
        Save
      </ion-button>
    </div>
  </div>
</ion-content>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-clip-rotate-pulse">
  <p style="color:white;font-size: 20px;text-align: center;">Please wait...</p>
</ngx-spinner>
<app-menu-footer></app-menu-footer>