.header-container {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-left: 30px;
  margin-bottom: 0px;
  font-family: 'Inter', sans-serif;

}

.header-text {
  text-align: center;
  font-size: 15px;
  padding-bottom: 18px;
  font-family: 'Inter', sans-serif;

}

  .custom-input {
    min-width: 100%; /* Set your desired width */
  }

  ion-input
  {
    font-size: 11px;
    --padding-start: 10px;
    font-family: 'Inter',sans-serif;
    font-weight: 500;

  }

  

