<ion-content>
    <div class="header-container">
      <img src="assets/Images/Back Icon.svg" (click)="navigateToBack()">
      <h1 class="header-text">Edit Complaint</h1>
    </div>

  <div class="card">
  <ion-item>
    <ion-input class="custom-input" type="text" placeholder="Reference Number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input class="custom-input" type="text" placeholder="Description"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input class="custom-input" type="text" placeholder="Offending Outlet"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input class="custom-input" type="text" placeholder="Complain Status"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input class="custom-input" type="text" placeholder="ECP Number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input class="custom-input" type="text" placeholder="Street Address"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input class="custom-input" type="text" placeholder="District Municipality"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input class="custom-input" type="text" placeholder="Local Municipality"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input class="custom-input" type="text" placeholder="Town"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input class="custom-input" type="text" placeholder="Relevant Inspector"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" placeholder="Comment"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Comment history"></ion-input>
    </ion-item>

    <div class="button-container">
      <ion-button class="buttonClass">
        <img slot="start" class="image"src="../../../assets/Images/Icon (2).svg" alt="Image Alt Text">
        Save
      </ion-button>
     </div>
</div>
</ion-content>