.header-container {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-left: 30px;
    margin-bottom: 50px;
  }
  
  .header-text {
    //flex: 1; /* This makes the text take up the remaining space */
    text-align: center;
    padding-left: 60px;
    font-size: 15px;
    padding-bottom: 18px;
  }

  .custom-input {
    min-width: 300px; /* Set your desired width */
  }

  ion-input
  {
    font-size: 9px;
    
  }

  ion-input::placeholder {
    padding-left: 10px; 
    
  }

