<ion-content>
    <div class="header-container">
      <img src="assets/Images/Back Icon.svg" class="back-Arrow" (click)="navigateToBack()">
      <h1 class="header-text">View Complaint</h1>
    </div>

  
  <div class="card">
  <ion-label class="label">ECP Number</ion-label>
  <p class="info-time">ECLB001521</p>

  <ion-label class="label">Outlet Name</ion-label>
  <p class="info-time">Entabeni</p>

  <ion-label class="label">Address of Outlet</ion-label>
  <p class="info-time">Residential</p>

  <ion-label class="label">Region of Outlet</ion-label>
  <p class="info-time">No 33 silver Oak</p>

  <ion-label class="label">Area of Outlet</ion-label>
  <p class="info-time">Algoa Park</p>

  <ion-label class="label">Description of Complaint</ion-label>
  <p class="info-time">
    Residential home is used a shebeen and the patrons are misbehaving and disturbing the peace of the community with loud music played
  </p>

  <ion-label class="label">Name of Complaint</ion-label>
  <p class="info-time">Not provided</p>

  <ion-label class="label">Contact Number</ion-label>
  <p class="info-time">
    Caller indicated that the home owner is selling alcohol to the public without a liquor licens
  </p>
  
  <ion-label class="label">Date of Complaint Logged</ion-label>
  <p class="info-time">03/05/2024</p>
    </div>

</ion-content>
<app-menu-footer></app-menu-footer>