<ion-content>
  <ion-header>
    <div class="header-container">
      <a [routerLink]=""><img src="assets/Images/Back Icon.svg"></a>
      <h1 class="header-text">View Complaint</h1>
    </div>
  </ion-header>

  <ion-label>ECP Number</ion-label>
  <p>ECLB001521</p>

  <ion-label>Outlet Name</ion-label>
  <p>Entabeni</p>

  <ion-label>Address of Outlet</ion-label>
  <p>Residential</p>

  <ion-label>Region of Outlet</ion-label>
  <p>No 33 silver Oak</p>

  <ion-label>Area of Outlet</ion-label>
  <p>Algoa Park</p>

  <ion-label>Description of Complaint</ion-label>
  <p>Caller indicated.....</p>

  <ion-label>Name of Complaint</ion-label>
  <p>Not provided</p>

  <ion-label>Contact Number</ion-label>
  <p>Caller indicated......</p>
  
  <ion-label>Date of Complaint Logged</ion-label>
  <p>03/05/2024</p>

 

  
</ion-content>