.header-container {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-left: 30px;
    margin-bottom: 50px;
  }
  
  .header-text {
    //flex: 1; /* This makes the text take up the remaining space */
    text-align: center;
    padding-left: 60px;
    font-size: 15px;
    padding-bottom: 18px;
  }

  ion-label
  {
    margin-left: 20px;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 1px;
  }

  p{
    margin-left: 20px;
    font-size: 11px;
    margin-top: 2px;
  }

  
  