<ion-content>
    <div class="header-container">
      <img src="assets/Images/Back Icon.svg" class="back-Arrow" (click)="navigateToBack()">
      <h1 class="header-text">View Complaint</h1>
    </div>

  
  <div *ngIf="collectObj">
  <ion-label class="label">ECP Number</ion-label>
  <p class="info-time">{{collectObj.referenceNumber}}</p>

  <ion-label class="label">Outlet Name</ion-label>
  <p class="info-time">{{collectObj.outletName}}</p>

  <ion-label class="label">Address of Outlet</ion-label>
  <p class="info-time">{{collectObj.addressOfOutlet}}</p>

  <ion-label class="label">Region of Outlet</ion-label>
  <p class="info-time">{{collectObj.regionOfOutlet}}</p>

  <ion-label class="label">Area of Outlet</ion-label>
  <p class="info-time">{{collectObj.areaOfOutlet}}</p>

  <ion-label class="label">Description of Complaint</ion-label>
  <p class="info-time">
    {{collectObj.descriptionOfComplaint}} </p>

  <ion-label class="label">Name of Complaint</ion-label>
  <p class="info-time">{{collectObj.nameOfComplaint}}</p>

  <ion-label class="label">Contact Number</ion-label>
  <p class="info-time">
   {{collectObj.contactNumber}}</p>
  
  <ion-label class="label">Date of Complaint Logged</ion-label>
  <p class="info-time">{{collectObj.dateComplaintLogged}}</p>
    </div>

</ion-content>
<app-menu-footer></app-menu-footer>