<ion-content>
  <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-clip-rotate-pulse">
  <p style="color:white;font-size: 20px;text-align: center;">Please wait...</p>
</ngx-spinner>
  <div class="container">
    <ion-img src="../../../assets/Images/logo (7) 2.svg" alt="Logo" class="image"></ion-img>

    <p class="welcome">Welcome</p>
    <p class="signin">Sign in</p>
    
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <ion-item>
        <ion-input formControlName="email" type="email" placeholder="Username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
      </ion-item>
    
      <ion-button class="buttonClass" type="submit">Log In</ion-button>
    </form>
    <div *ngIf="showAlert" [ngClass]="alertType === 'success' ? 'alert alert-success' : 'alert alert-danger'">
      {{ alertMessage }}
  </div>
  </div>
  
</ion-content>
