<ion-content>
  <div class="container">
    <ion-img src="../../../assets/Images/logo (7) 2.svg" alt="Logo" class="image"></ion-img>

    <p class="welcome">Welcome</p>
    <p class="signin">Sign in</p>
    
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <ion-item>
        <ion-input formControlName="email" type="email" placeholder="Username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
      </ion-item>
      <p class="welcome forgot"><a>Forgot password?</a></p>
      <ion-button class="buttonClass" type="submit">Sign in</ion-button>
    </form>
  </div>
</ion-content>
