<ion-content>
  <ion-header>
    <div class="header-container">
    <img src="assets/Images/Back Icon.svg" class="back-Arrow"> <h1 class="header-text">Settings</h1>
    </div>
  </ion-header>

  <ion-card>
    <div>
    <ion-button><img src="assets/Images/Profile box.svg"></ion-button>
  </div>
  </ion-card>
  <ion-item>
    <div>
    <ion-button><img src="assets/Images/Profile box (1).svg" class="full-width-image"></ion-button>
  </div>
  </ion-item>
  <ion-item>
    <div>
    <ion-button><img src="assets/Images/Profile box (2).svg" class="full-width-image"></ion-button>
  </div>
  </ion-item>
  <ion-item>
    <div>
    <ion-button><img src="assets/Images/Profile box (3).svg" class="full-width-image"></ion-button>
  </div>
  </ion-item>

  <ion-item class="center-button">
    <ion-button>
      <p>Sign out</p>
    </ion-button>
  </ion-item>
</ion-content>