.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-family: 'Inter', sans-serif;
}

.back-Arrow {
  width: 50px;
  height: 50px;
  margin-top: 20px;
  padding-left: 10px;
 
}


.header-text {
  flex-grow: 1;
  text-align: center;
  font-size: 20px;
  padding-right: 10%;
}

  ion-label
  {
    margin-left: 20px;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 1px;
    font-family: 'Inter', sans-serif;

  }

  p{
    margin-left: 20px;
    font-size: 11px;
    margin-top: 2px;
    font-family: 'Inter', sans-serif;

  }

  .content{
    font-family: 'Inter', sans-serif;
  }

  .document-card{
    background-color: #F8F8FA;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    font-family: 'Inter', sans-serif;
    box-shadow: none;
}

.settings-header{
  font-weight: 600;
  font-size: 16px;
  color: #474A56;
}
.settings-img{
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings-header {
  flex-grow: 1;
}

.settings-img {
  margin-left: auto;
}

  
  