<ion-content>
  <div class="header-container">
    <img src="assets/Images/Back Icon.svg" class="back-Arrow">
    <h1 class="header-text">Settings</h1>
  </div>

  <ion-card class="document-card">
    <div class="flex">
    <span class="settings-header">Personal details</span>
    <ion-img src="../../../assets/Images/Profile vector.svg" class="settings-img"></ion-img>
  </div>
  </ion-card>

  <ion-card class="document-card">
    <div class="flex">
    <span class="settings-header">Passwords</span>
    <ion-img src="../../../assets/Images/Profile vector.svg" class="settings-img"></ion-img>
  </div>
  </ion-card>

  <ion-card class="document-card">
    <div class="flex">
    <span class="settings-header">Privacy</span>
    <ion-img src="../../../assets/Images/Profile vector.svg" class="settings-img"></ion-img>
  </div>
  </ion-card>

  <ion-card class="document-card">
    <div class="flex">
    <span class="settings-header">Notifications</span>
    <ion-img src="../../../assets/Images/Profile vector.svg" class="settings-img"></ion-img>
  </div>
  </ion-card>

</ion-content>
