/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* Import ngx-spinner animation styles */
@import "../node_modules/ngx-spinner/animations/ball-clip-rotate-pulse.css";


@font-face{
    font-family: 'Inter'; 
    src: url('../src/assets/Fonts/Inter/Inter-VariableFont_slnt\,wght.ttf'); 
}

/* Ensure ion-item has a transparent background and no borders */
ion-item {
  --background: transparent;
  --ion-background-color: transparent;
  --ion-item-background: transparent;
  --border-width: 0;
  --inner-border-width: 0;
  border: none;
  box-shadow: none;
  width: 100%;
  padding: 0; /* Ensure no additional padding inside ion-item */
}

/* Remove lines from ion-input inside ion-item */
ion-item::part(native) {
  border: none !important;
  box-shadow: none !important;
}

/* Container styling */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%; 
  padding: 10px;
  box-sizing: border-box; 
}

/* Input styling */
ion-input {
  margin-top: 10px;
  background-color: #ffffff;
  border: 1px solid #858585;
  border-radius: 2px;
  height: 50px; 
  width: calc(100%) !important;
  --highlight-background: transparent;
  font-family: 'Inter', sans-serif; 
  padding-right: 15px !important;
}

ion-select {
  margin-top: 10px;
  background-color: #ffffff;
  border: 1px solid #858585;
  border-radius: 2px;
  height: 50px; 
  width: calc(100%) !important; /* Account for padding of the container */
  --highlight-background: transparent !important;
  font-family: 'Inter', sans-serif; 
  padding-right: 15px !important;
  --ion-color-select-background: transparent !important; /* Set the background to transparent */
  --ion-color-select-text: #000000; /* Set the text color if needed */
}

ion-content {
  --background: #ffffff;
  font-family: 'Inter', sans-serif !important;
}

ion-app {
  background-color: #ffffff;
}

.buttonClass {
    --background: #822B23;
    --color: #fff;
    width: calc(100% - 30px);
    height: 50px;
    margin-top: 15px;
    font-size: 14px;
    font-weight: 600;
    margin-left: 14px;
    border: 1px solid #822B23;
    border-radius: 2px; 
    --border-radius: 2px; 
    text-transform: none; 
    font-family: 'Inter', sans-serif; 
}

ion-content {
    font-family: 'Inter', sans-serif;
}

.font-weight {
    font-weight: 700;
}

.info-time {
    color: rgba(154, 154, 154, 0.9); 
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}

.quick-action {
    font-weight: 700;
    font-size: 20px;
    font-family: 'Inter', sans-serif; 
    color: #822B23;
    margin-top: 15px;
    margin-left: 6px;
}

.quick-action {
    font-weight: 700;
    font-size: 18px;
    font-family: 'Inter', sans-serif; 
    color: #822B23;
    margin-top: 15px;
}

.dashboard-container {
    padding: 10px;
    margin-top: 10px;
}

.vector {
    width: 12px;
    height: 12px;
}

.card {
    font-size: 14px;
    font-weight: 400;
    color: #4A5568;
    font-family: 'Inter', sans-serif;
    padding: 15px;
}

.flex {
    display: flex;
}

.action {
    float: inline-end !important;
}

input[type="radio"] {
    background-color: #fff;
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #000;
    border-radius: 50%;
    padding: 2px;
    margin-right: 10px; 
}

input[type="radio"]:checked {
    background-color: #fff;
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 7px solid #CFAA35;
    border-radius: 50%;
    padding: 2px;
    margin-right: 10px; 
}

.outlet-header {
    font-size: 16px;
    font-weight: 900; 
    color: #474A56;
    font-family: 'Inter', sans-serif;
}

.header-img {
    display: flex;
}

.img {
    margin-right: 5%;
}

.correspondence-paragraph {
    font-weight: bold;
    font-size: 14px;
    color: #474A56;
}

.time-frame {
    color: #8A8A8A;
    margin-top: 5px;
}

.outlet-subheader {
    font-size: 14px;
    font-weight: 900; 
    color: #474A56;
    font-family: 'Inter';
}

.detail-header {
    color: #2A2A2A;
    font-size: 18px;
    margin-bottom: 10px;
}

.add-ticket-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.add-ticket-icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-right: 20px;
}

.custom-select {
    --padding-end: 1.0em; 
}

.custom-select::part(text) {
    padding-right: calc(var(--padding-end) + 1em); 
}

.custom-select::part(icon) {
    position: absolute;
    right: 0.0em;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* For the cursor color */
::ng-deep ion-input input {
    caret-color: #822B23 !important;
  }