

<!--footer Ad Header-->
<!--End Of-->

  <app-menu-header></app-menu-header>
    <ion-card>
      <ion-card-header>
        <ion-card-title class="welcome">Inspector Center</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="message">Welcome to Inspector Center, your platform for ensuring safety in hospitality venues.</p>
      </ion-card-content>
      <!--
      <ion-img src="../../../assets/Images/" class="black-man"></ion-img>
      -->
    </ion-card>

    <div class="dashboard-container">
      <p class="quick-action">Quick action</p>
        <ion-grid>
          <ion-row>
            <ion-col class="center-content">  
              <ion-img src="../../../assets/Images/calendar-tick.svg" class="icon-image"></ion-img>
              <p class="col-header">My Tasks</p>
            </ion-col>
            <ion-col class="center-content" offset="0.2">
              <ion-img src="../../../assets/Images/message-notif.svg" class="icon-image"></ion-img>
              <p class="col-header">Complaints</p>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col class="center-content">
              <ion-img src="../../../assets/Images/map.svg" class="icon-image"></ion-img>
              <p class="col-header">Update GIS</p>
            </ion-col>
            <ion-col class="center-content" offset="0.2">   
              <ion-img src="../../../assets/Images/location.svg" class="icon-image"></ion-img>
              <p class="col-header">Navigate to Outlet</p>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col class="center-content">
              <ion-img src="../../../assets/Images/folder.svg" class="icon-image"></ion-img>
              <p class="col-header">Inspections</p>
            </ion-col>
            
          </ion-row>
        </ion-grid>
     </div>

<app-menu-footer></app-menu-footer>


