ion-card{
    --background: #822B23;
    --border-radius: 2px;
    border-radius: 2px;
    box-shadow: none;
    font-family: 'Inter', sans-serif;
}

.message{
    color:white;
    font-size: 12px;
    font-weight: 400;
    width: 75%;
    margin-bottom: 10px;
}
.welcome{
    margin-top: 10px;
    color: white;
    font-size: 26px;
    font-weight: 700;
   margin-bottom: -5px;
   font-family: 'Inter', sans-serif; 
}

.quick-action{
    font-weight: 700;
    font-size: 18px;
    font-family: 'Inter', sans-serif; 
    color:#822B23;
    margin-top: 15px;
    
}
.dashboard-container{
    padding: 10px;
    margin-top: 10px;
}
ion-col {
    position: relative; 
    border: 1px solid #822B23;
    border-radius: 2px;
    overflow: hidden;
    padding-left: 10px; 
}

ion-col::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: #822B23;
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%); 
}




.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    height: 100%; 
  }
  
  .icon-image {
    width: 25px; 
    height: 25px; 
    margin-top: 15px;
  }
  
  .col-header {
    margin-top: 10px; 
    font-size: 14px; 
    color: #000; 
    font-weight: 700;
    font-family: 'Inter', sans-serif;
  }

  .black-man {
    position: absolute;
    top: 10px; /* Adjust the top value as needed */
    right: -1%; /* Adjust the right value as needed */
    width: 120px; /* Adjust the width as needed */
  }