

<app-menu-header></app-menu-header>
  <div class="slider-container">
    <ion-card class="slide visible">
      <ion-card-header style="height: auto;">
        <ion-card-title class="welcome">Inspector Center</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="message">Welcome to Inspector Center, your platform for ensuring safety in hospitality venues.</p>
      </ion-card-content>
      <ion-img src="../../../assets/Images/Black man.svg" class="black-man"></ion-img>
    </ion-card>
    <!--Second Slide-->
    <ion-card class="slide">
      <ion-card-header style="height: auto;">
        <ion-card-title class="welcome">Manage Complaints</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="message">Effectively track customer complaints, providing a centralized platform for complaint management.</p>
      </ion-card-content>
      <ion-img src="../../../assets/Images/Woman 1.svg" class="black-man"></ion-img>
    </ion-card>

    <!--Third Slide-->
    <ion-card class="slide">
      <ion-card-header style="height: auto;">
        <ion-card-title class="welcome">Update Outlets</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="message">Effortlessly manage and synchronize outlet information across multiple locations.</p>
      </ion-card-content>
      <ion-img src="../../../assets/Images/impressed-points.svg" class="black-man"></ion-img>
    </ion-card>

     <!--Fourth Slide-->
     <ion-card class="slide">
      <ion-card-header style="height: auto;">
        <ion-card-title class="welcome">Manage Inspections</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="message">Streamline your inspection processes with our app, offering real-time data entry.</p>
      </ion-card-content>
      <ion-img src="../../../assets/Images/Woman 2.svg" class="black-man4"></ion-img>
    </ion-card>
  </div>
  
  <!-- Dots -->
  <div class="dots-container">
    <span class="dot active"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>

  </div>
  
  

    <div class="dashboard-container">
      <p class="quick-action2">Quick action</p>
        <ion-grid>
          <ion-row>
            <ion-col class="center-content" (click)="navigateToTasks()" >  
              <ion-img src="../../../assets/Images/calendar-tick.svg" class="icon-image"></ion-img>
              <p class="col-header">My Tasks</p>
            </ion-col>
            <ion-col class="center-content" offset="0.2" (click)="navigateToComplaints()">
              <ion-img src="../../../assets/Images/message-notif.svg" class="icon-image"></ion-img>
              <p class="col-header">Complaints</p>
            </ion-col>
          </ion-row>
        </ion-grid>
        
        <ion-grid>
          <ion-row>
            <ion-col class="center-content" (click)="navigateToInspection()">
              <ion-img src="../../../assets/Images/folder.svg" class="icon-image"></ion-img>
              <p class="col-header">Inspections</p>
            </ion-col>
            <!--
            <ion-col class="center-content" (click)="navigateToUpdate()">
              <ion-img src="../../../assets/Images/map.svg" class="icon-image"></ion-img>
              <p class="col-header">Update GIS</p>
            </ion-col>-->
            <ion-col class="center-content" offset="0.2" (click)="navigateToNavigate()">   
              <ion-img src="../../../assets/Images/location.svg" class="icon-image"></ion-img>
              <p class="col-header">Navigate to Outlet</p>
            </ion-col>
          </ion-row>
        </ion-grid>

        <!-- <ion-grid>
          <ion-row>
            <ion-col class="center-content" (click)="navigateToSummons()">
              <ion-img src="../../../assets/Images/Summons.svg" class="icon-image"></ion-img>
              <p class="col-header">Summons</p>
            </ion-col>
           
          </ion-row>
        </ion-grid> -->
       
     </div>

<app-menu-footer></app-menu-footer>


