.header-container {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-left: 30px;
    margin-bottom: 50px;
  }
  
  .header-text {
    
    text-align: center;
    padding-left: 70px;
    font-size: 15px;
    padding-bottom: 18px;
    padding-right: 20px;
  }

  ion-input
  {
    margin-right: 20px;
    margin-left: 20px;
  }