<ion-content>
  <ion-header>
    <div class="header-container">
      <a [routerLink]=""><img src="assets/Images/Back Icon.svg"></a>
      <h1 class="header-text">Edit Complaint</h1>
    </div>
  </ion-header>
  
    <ion-item>
    <ion-input type="text" placeholder="Comment"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Comment history"></ion-input>
    </ion-item>

    <div class="button-container">
      <ion-button class="buttonClass">Save</ion-button>
    </div>
  
</ion-content>