<ion-content>
  <ion-header>
    <div class="header-container">
      <a [routerLink]=""><img  class="back-Arrow"src="assets/Images/Back Icon.svg"></a>
      <h1 class="header-text">General</h1>
    </div>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Person Contacted
      </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      John Doe
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Inspection Date
      </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      05/03/2024 08:00AM
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Latitude if Outlet (South)
      </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      40.7128
    </ion-card-content>
  </ion-card>
    
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Longitude of Outlet (East)
      </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      -74.0060
    </ion-card-content>
  </ion-card>

  
  <ion-button class="buttonClass">
    <img slot="start" class="image"src="../../../assets/Images/Icon (2).svg" alt="Image Alt Text">
    Save
  </ion-button>
  
  
</ion-content>