
<hr> <!-- Horizontal line divider -->
<div class="image-container">
  
  <a routerLink="/outlet-dashboard">
      <img src="assets/Images/home-2.svg">
      <ion-label>Home</ion-label>
  </a>
  
  <a routerLink="">
      <img src="assets/Images/notification-status.svg">
      <ion-label>Notification</ion-label>
  </a>
  
  <a routerLink="/outlet-settings">
      <img src="assets/Images/setting-3.svg">
      <ion-label>Settings</ion-label>
  </a>
  
  <a (click)="toggleMenu()">
      <img src="assets/Images/menu.svg">
      <ion-label>Menu</ion-label>
  </a>
  
</div>
